 .layui-nav{padding: 0px 0px !important} .layui-header{
 	background-color: #fff !important; box-shadow: 0 2px 2px rgba(0, 0, 0,
 		0.05), 0 1px 0 rgba(0, 0, 0, 0.05); } .layui-nav .layui-nav-item1 { position:
 		relative; display: inline-block; *display: inline; *zoom: 1; vertical-align:
 		middle; line-height: 60px; } .layui-tab-content{background-color: #fff;}
 		.layui-card-header {background-color: #fff;} .img-href{border: 1px solid
 			#ddd;padding: 4px; display: block;border-radius:3px;} .img-href:hover{border-color:
 				#2c3e50} .img-href img{width: 100%} .layui-badge{margin-top: 4px}
 #lib-list2 .layui-col-md3{ overflow: hidden; text-align: center; }
 #lib-list2 .layui-col-md3 img{ width: 150px; }
 #lib-list2 table tr td:first-child{ background-color: #f2f2f2; font-weight: 700 }
 #lib-list2 .layui-table{margin: 0px}
 #lib-list2 .layui-col-md3{padding: 10px 0px;}
 #lib-list2 .layui-col-md3 p{margin-top: 10px}
 #lib-list2 .layui-col-md3 a{display: block; padding: 10px 0px;}
 #lib-list2 .layui-col-md3 a:hover { background-color:whitesmoke; color: #009688; }
 #book-nav .layui-nav {background-color: #fff}
#book-nav ul.layui-nav {border-bottom: 1px solid gray}
#book-nav .layui-nav .layui-nav-item a{color: rgba(150, 150, 150, 0.7)}
.clear{ float: none; clear: both; }
#lib-list1 table tr td:first-child{ background-color:#f2f2f2; font-weight: 700 }
 #lib-list1 .layui-table tr td i{ color: #009688;}
 #left-slide .layui-nav-tree .layui-nav-item a{border-bottom: 1px solid #232527 !important; border-top: 1px solid #4d515a !important;}
 #left-slide .avtive-menu{background-color: #4E5465; border-left:5px solid #009688}
 #left-slide .layui-nav-tree .layui-nav-child .active{ color: #fff;}
 #lib-list1 .layui-col-md3 img {margin-top:10px;}
 #lib-list1 .layui-col-md3 {text-align: center}
 /*#lib-list1 a.start_cover img {border:1px solid #e2e2e2}*/
 #lib-list1 a.start_cover p {margin-top: 10px}

#footer {
    height: 80px;
    width: 100%;
    position: relative;
	margin-top:20px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    border: none;
    color: #FFF;
    background-color: #7E7254;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    padding: 10px 0;
}
#footer a {color:#FFF;}

.layui-nav .layui-nav-item { line-height:46px;}
.layui-nav-child{top:46px;}

#nav a{margin-left:20px; }
.book_content_more{background-color:#f2f2f2; color:#777; text-align:center; font-size:14px; line-height:30px; display:block}
.book_content_more:hover{background-color:#ccc}
.book_content_hide{ display:none}
.book_content_show{ display:block}
span.tag-link{color:#064eb9 !important; cursor:pointer }
.layui-table th { background-color: #e2e2e2; white-space: nowrap; border:1px solid #fff; color: #000; font-weight: 700 }
