<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>莫名簡訊</title>
	<note>官網是：http://www.duanxin.cm</note>
	<code>
		<account>
			<title>帳號</title>
			<note>8位的介面帳號, 如:70288881</note>
			<type>text</type>
			<required>true</required>
		</account>
		<password>
			<title>密碼</title>
			<note>帳號登入密碼，在傳輸過程中執行32位加密</note>
			<type>text</type>
			<required>true</required>
		</password>
		<server>
			<title>請求地址</title>
			<note>即介面請求地址，如：http://api.duanxin.cm/</note>
			<type>text</type>
			<required>true</required>
		</server>
		<mobile>
			<title>手機號</title>
			<note>填寫管理員接收簡訊要用到的手機號，多個手機號用英文逗號“,”隔開</note>
			<type>text</type>
			<required>false</required>
		</mobile>
	</code>
	<manage>
		<balance>
			<title>查餘額</title>
			<exec>balance</exec>
			<type>ajax</type>
		</balance>
		<send>
			<title>發簡訊</title>
			<exec>sendsms</exec>
			<type>page</type>
		</send>
	</manage>
</root>