<?xml version="1.0" encoding="utf-8"?>
<root>
	<title><![CDATA[Authorize 信用卡介面引挈]]></title>
	<code>
		<env>
			<title><![CDATA[執行環境]]></title>
			<note><![CDATA[設定支付的PID，您可以登入支付寶商家服務查詢]]></note>
			<type>radio</type>
			<option>
				<test><![CDATA[測試環境]]></test>
				<product><![CDATA[生產環境]]></product>
			</option>
			<default>product</default>
		</env>
		<name>
			<title><![CDATA[介面ID]]></title>
			<note><![CDATA[由介面商提供的 API LOGIN ID]]></note>
			<type>text</type>
		</name>
		<transactionKey>
			<title><![CDATA[金鑰]]></title>
			<note><![CDATA[由介面供應商提供的：transaction Key]]></note>
			<type>text</type>
		</transactionKey>
	</code>
</root>