<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>SendCloud郵件</title>
	<note>官網（https://sendcloud.sohu.com）</note>
	<code>
		<api_user>
			<title>API_USER</title>
			<note>請到SendCloud官網上獲取自己的API_USER</note>
			<type>text</type>
			<required>true</required>
		</api_user>
		<api_key>
			<title>API_KEY</title>
			<note>建立完成API_USER後，系會發送API_KEY到您的郵箱，請將值寫到這裡來</note>
			<type>text</type>
			<required>true</required>
		</api_key>
		<fullname>
			<title>發件人姓名</title>
			<note>設定發件人的姓名</note>
			<type>text</type>
		</fullname>
		<email>
			<title>發件人郵箱</title>
			<note>填寫發件人的郵箱</note>
			<type>text</type>
			<required>true</required>
		</email>
		<label_id>
			<title>標籤ID</title>
			<note>在SendCloud中設定相應的標籤名，即可以獲取到標籤ID</note>
			<type>text</type>
			<required>true</required>
		</label_id>
	</code>
	<manage>
		<send>
			<title>發郵件</title>
			<exec>sendemail</exec>
			<type>page</type>
		</send>
	</manage>
</root>