<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>圓支付介面引挈</title>
	<note><![CDATA[客戶訂製版]]></note>
	<code>
		<merchantNo>
			<title>商戶號</title>
			<note>圓支付介面提供商提供的商戶號</note>
			<type>text</type>
		</merchantNo>
		<storeNo>
			<title>店鋪號</title>
			<note>圓支付介面提供商提供的店鋪編號</note>
			<type>text</type>
		</storeNo>
		<yuansferToken>
			<title>金鑰</title>
			<note>用於生成簽名的金鑰</note>
			<type>text</type>
		</yuansferToken>
		<ptype>
			<title>執行環境</title>
			<note>確保平臺是正式執行還是測試</note>
			<type>radio</type>
			<option>
				<demo>測試環境</demo>
				<product>正式執行</product>
			</option>
			<default>product</default>
		</ptype>
		<paylist>
			<title>支付方式</title>
			<note>請選擇使用支付寶，微信或是銀聯支付</note>
			<type>select</type>
			<option>
				<alipay>支付寶</alipay>
				<wechatpay>微信支付</wechatpay>
				<unionpay>銀聯支付</unionpay>
			</option>
			<default></default>
		</paylist>
	</code>
</root>