<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>七牛雲端儲存</title>
	<note>直接上傳檔案到七牛雲，並現實增刪查改操作</note>
	<code>
		<appkey>
			<title>金鑰AK</title>
			<note><![CDATA[設定七牛雲的金鑰 AccessKey]]></note>
			<type>text</type>
			<required>true</required>
		</appkey>
		<appsecret>
			<title>金鑰SK</title>
			<note><![CDATA[設定七牛雲的金鑰 SecretKey]]></note>
			<type>text</type>
			<required>true</required>
		</appsecret>
		<bucket>
			<title>儲存空間名稱</title>
			<type>text</type>
			<note>填寫七牛雲的儲存空間名稱</note>
			<required>true</required>
		</bucket>
		<server_url>
			<title>上傳伺服器地址</title>
			<note><![CDATA[上傳空間對應的上傳地址，建議使用客戶端上傳地址，<a href="https://developer.qiniu.com/kodo/manual/1671/region-endpoint">點此檢視</a>]]></note>
			<type>text</type>
			<required>true</required>
		</server_url>
		<view_url>
			<title>資源訪問域名</title>
			<note><![CDATA[請填寫您上傳的附件要訪問的域名]]></note>
			<type>text</type>
			<required>true</required>
		</view_url>
	</code>
</root>