<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>維美簡訊</title>
	<note>官網是：http://www.chinaweimei.com</note>
	<code>
		<account>
			<title>帳號</title>
			<note>維美簡訊介面賬號，不能為空</note>
			<type>text</type>
			<required>true</required>
		</account>
		<password>
			<title>密碼</title>
			<note>帳號登入密碼</note>
			<type>text</type>
			<required>true</required>
		</password>
		<server>
			<title>請求地址</title>
			<note>即介面請求地址，如：http://cs.chinaweimei.com/wmsms/VerifySms.aspx</note>
			<type>text</type>
			<required>true</required>
		</server>
		<mobile>
			<title>手機號</title>
			<note>填寫管理員接收簡訊要用到的手機號，僅能接受一個手機號</note>
			<type>text</type>
			<required>false</required>
		</mobile>
	</code>
	<manage>
		<balance>
			<title>查餘額</title>
			<exec>balance</exec>
			<type>ajax</type>
		</balance>
		<smskey>
			<title>簡訊關鍵字</title>
			<exec>smskey</exec>
			<type>page</type>
		</smskey>
		<send>
			<title>發簡訊</title>
			<exec>sendsms</exec>
			<type>page</type>
		</send>
	</manage>
</root>