<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>Paypal支付</title>
	<code>
		<at>
			<title>PDT字串</title>
			<note>用於驗證遠端資料是否有效</note>
			<type>text</type>
		</at>
		<payid>
			<title>Paypal賬號</title>
			<note>設定Paypal的接收賬號</note>
			<type>text</type>
		</payid>
		<action>
			<title>PayPal服務的模式</title>
			<note>測試：https://www.sandbox.paypal.com/cgi-bin/webscr，正式：https://www.paypal.com/cgi-bin/webscr</note>
			<type>text</type>
		</action>
	</code>
</root>