<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header ">
		{lang管理員列表}
		<div class="fr">
			<a lay-href="{url ctrl=admin func=set/}" lay-text="{lang新增管理員}" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe608;</i> {lang新增管理員}</a>
		</div>
	</div>

	<div class="layui-card-body">
		<table class="layui-table">
			<colgroup>
				<col>
				<col>
				<col>
				<col>
				<col width="140">
			</colgroup>
			<thead>
			<tr>
				<th>{langID}</th>
				<th>{lang狀態}</th>
				<th>{lang賬號}</th>
				<th>{lang郵箱}</th>
				<th>{lang操作}</th>
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$rslist key=$key value=$value -->
			<tr id="admin_tr_{$value.id}">
				<td>{$value.id}</td>
				<td>
					<input type="button" id="status_{$value.id}" value="{if $value.status}{lang啟用}{else}{lang停用}{/if}" onclick="$.admin_admin.status({$value.id})" class="layui-btn layui-btn-sm {if !$value.status} layui-btn-danger{/if}" />
				</td>
				<td><div style="padding-left:7px">{$value.account}<!-- if $value.if_system --><span class="red i">{lang（系統管理員）}</span><!-- /if --></div></td>
				<td><div style="padding-left:7px">{$value.email}</div></td>
				<td width="50">
					<!-- if $popedom.modify -->
					<input type="button" value="{lang編輯}" class="layui-btn layui-btn-sm {if $value.id == $session.admin_id} layui-btn-disabled{/if}" {if $value.id == $session.admin_id} disabled title="你不能編輯自己的資訊"{/if} onclick="$.admin_admin.set({$value.id})" />
					<!-- /if -->
					<!-- if $popedom.delete -->
					<input type="button" value="{lang刪除}" class="layui-btn layui-btn-sm {if $value.if_system && $value.id == $session.admin_id} layui-btn-disabled{/if}" {if $value.id != $session.admin_id}onclick="$.admin_admin.del('{$value.id}','{$value.account}')"{else}disabled title="你不能刪除管理員或自己的資訊"{/if} />
					<!-- /if -->
				</td>
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>

</div>
<!-- include tpl=foot_lay -->