<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		<!-- if $id -->{lang編輯管理員} #{$id}<!-- else -->{lang新增管理員}<!-- /if -->
	</div>
	<form class="layui-form" method="post" onsubmit="return $.admin_admin.save()">
		<div class="layui-card-body">
			<!-- if $id -->
			<input type="hidden" name="id" id="id" value="{$id}" />
			<!-- /if -->
			<div class="layui-form-item">
				<label class="layui-form-label">{lang管理員賬號}</label>
				<div class="layui-input-inline" style="width: 450px">
					<input type="text" id="account" required name="account" value="{$rs.account}" autocomplete="off" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">
					{lang請填寫管理員的賬號，建議使用}<span class="layui-bg-red">{lang英文單詞，中文或數字}</span>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{lang管理員密碼}</label>
				<div class="layui-input-inline" style="width: 450px">
					<input type="password" name="pass" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid layui-word-aux">
					<!-- if $id -->{lang不修改密碼請留空，}<!-- /if -->{lang密碼長不能少於4位數，建議使用}<span class="layui-bg-red">{lang數字，字母及下劃線}</span>{lang等}
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{lang管理員郵箱}</label>
				<div class="layui-input-inline" style="width: 450px">
					<input type="text" id="email" name="email" value="{$rs.email}" autocomplete="off" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">
					{lang此郵箱可用於接收網站通知資訊，請不要和SMTP配置的郵箱一致}
				</div>
			</div>
			<!-- if $popedom.status -->
			<div class="layui-form-item">
				<label class="layui-form-label">{lang狀態}</label>
				<div class="layui-input-inline" style="min-width: 300px;">
					<input type="radio" name="status" value="1" title="{lang啟用}"{if $rs.status} checked{/if} />
					<input type="radio" name="status" value="0" title="{lang禁用}"{if !$rs.status} checked{/if}>
				</div>
				<div class="layui-form-mid layui-word-aux">
					{lang設定該管理員是否啟用}
				</div>
			</div>
			<!-- /if -->
			<!-- if $session.admin_rs.if_system -->
			<div class="layui-form-item">
				<label class="layui-form-label">{lang管理員級別}</label>
				<div class="layui-input-inline" style="min-width: 300px;">
					<input type="radio" name="if_system" id="if_system_1" title="{lang系統管理員}" value="1"{if $rs.if_system} checked{/if} onclick="$.admin_admin.if_system(1)" />
					<input type="radio" name="if_system" id="if_system_0" title="{lang普通管理員}" value="0"{if !$rs.if_system} checked{/if} onclick="$.admin_admin.if_system(0)" />
				</div>
				<div class="layui-form-mid layui-word-aux">
					{lang系統管理員是最高級別管理也是開發管理員，可管理整個平臺所有功能}
				</div>
			</div>
			<!-- else -->
			<div class="layui-form-item">
				<label class="layui-form-label">{lang管理員級別}</label>
				<div class="layui-input-inline" style="width: 300px;">
					<input type="radio" name="if_system" id="if_system_0" title="{lang普通管理員}" value="0"{if !$rs.if_system} checked{/if} onclick="admin_system(0)" />
				</div>
				<div class="layui-form-mid layui-word-aux">
					{lang您只能新增普通管理員資訊}
				</div>
			</div>
			<!-- /if -->
			<div id="sysmenu_html" {if $rs.if_system} class="hide"{/if}>
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-header layui-bg-cyan">
							{lang功能許可權分配}
						</div>
						<div class="layui-card-body">
							<!-- loop from=$syslist key=$key value=$value -->
							<div class="layui-col-md12">
								<div class="layui-card" id="mlist_{$value.id}">
									<div class="layui-card-header">
										{$value.title}
										<div class="layui-btn-group fr">
											<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang全選}" onclick="$.input.checkbox_all('mlist_{$value.id}')" />
											<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang全不選}" onclick="$.input.checkbox_none('mlist_{$value.id}')" />
											<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang反選}" onclick="$.input.checkbox_anti('mlist_{$value.id}')" />
										</div>
									</div>
									<div class="layui-card-body">
										<!-- loop from=$value.sublist key=$k value=$v -->
										<!-- if $v.appfile != 'list' && $v.appfile != 'admin' -->
										<div class="layui-form-item" id="mlist_{$v.id}">
											<label class="layui-form-label">{$v.space}{$v.title}</label>
											<div class="layui-input-inline" style="width: auto">
												<div class="layui-btn-group">
													<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang全選}" onclick="$.input.checkbox_all('mlist_{$v.id}')" />
													<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang全不選}" onclick="$.input.checkbox_none('mlist_{$v.id}')" />
													<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang反選}" onclick="$.input.checkbox_anti('mlist_{$v.id}')" />
												</div>
												<!-- if $glist[$v['id']] -->
												<!-- loop from=$glist[$v['id']] key=$kk value=$vv -->
												<input type="checkbox" name="popedom[]" value="{$vv.id}" {if $plist && in_array($vv.id,$plist)} checked{/if} title="{func P_Lang $vv.title}">
												<!-- /loop -->
												<!-- /if -->
											</div>
										</div>
										<!-- /if -->
										<!-- /loop -->
									</div>
								</div>
							</div>
							<!-- /loop -->
						</div>
					</div>
				</div>
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-header layui-bg-cyan">
							{lang內容配置}
						</div>
						<div class="layui-card-body">
							<!-- loop from=$sitelist key=$key value=$value -->
							<div class="layui-col-md12">
								<div class="layui-card" id="site_{$value.id}">
									<div class="layui-card-header">
										{$value.title}
										<div class="layui-btn-group fr">
											<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang全選}" onclick="$.input.checkbox_all('site_{$value.id}')" />
											<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang全不選}" onclick="$.input.checkbox_none('site_{$value.id}')" />
											<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang反選}" onclick="$.input.checkbox_anti('site_{$value.id}')" />
										</div>
									</div>
									<div class="layui-card-body">
										<!-- loop from=$value.sonlist key=$k value=$v -->
										<div class="layui-form-item" id="site_p_{$v.id}">
											<label class="layui-form-label">{$v.space}{$v.title}</label>
											<div class="layui-input-inline" style="width: auto">
												<div class="layui-btn-group">
													<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang全選}" onclick="$.input.checkbox_all('site_p_{$v.id}')" />
													<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang全不選}" onclick="$.input.checkbox_none('site_p_{$v.id}')" />
													<input type="button" class="layui-btn layui-btn-primary layui-btn-sm" value="{lang反選}" onclick="$.input.checkbox_anti('site_p_{$v.id}')" />
												</div>
												<!-- loop from=$v._popedom key=$kk value=$vv -->
												<input type="checkbox" name="popedom[]" value="{$vv.id}" {if $plist && in_array($vv.id,$plist)} checked{/if} title="{func P_Lang $vv.title}">
												<!-- /loop -->
											</div>
										</div>
										<!-- /loop -->
									</div>
								</div>
							</div>
							<!-- /loop -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block" style="padding:20px 45px;">
				<input type="submit" value="{lang提交儲存}" class="layui-btn" />
				<button type="reset" class="layui-btn layui-btn-primary">{lang重置}</button>
			</div>
		</div>
	</form>
</div>
<!-- include tpl=foot_lay -->