<!-- include tpl=head_lay -->
<form id="setting" class="layui-form" onsubmit="return $.admin_all.save()">
<div class="layui-card ">
	<div class="layui-card-header">{lang基本設定}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang網站名稱}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="title" id="title" value="{$rs.title}" placeholder="{lang即在前臺使用的名稱資訊}" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-input-inline auto gray lh38">{lang即在前臺使用的名稱資訊}</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang安裝目錄}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="dir" value="{$rs.dir}" placeholder="{lang根目錄請用 /，其他目錄請寫目錄名且要求以 / 結束，如：/phpok/}" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-input-inline auto gray lh38">{lang根目錄請用 /，其他目錄請寫目錄名且要求以 / 結束，如：/phpok/}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang網站版LOGO 繫結網站的LOGO資訊}"></i>
				{lang網站Logo}
			</label>
			<div class="layui-input-inline default-auto">
				{func form_edit logo $rs.logo text form_btn=image}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang手機版LOGO 繫結網站的手機版LOGO}"></i>
				{lang手機Logo}
			</label>
			<div class="layui-input-inline default-auto">
				{func form_edit logo_mobile $rs.logo_mobile text form_btn=image}
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang顯示於網站標題前的小圖示，規格建議使用32x32，建議只使用PNG格式}">&#xe702;</i>
				{lang站點圖示}
			</label>
			<div class="layui-input-inline default-auto">
				{func form_edit favicon $rs.favicon text form_btn=image}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang用於資料加密通迅時使用，建議定期更改}"></i>
				{langAPI驗證串}
			</label>
			<div class="layui-input-inline default-auto">
				<ul class="layout">
					<li><input type="text" id="api_code" name="api_code" value="{$rs.api_code}" placeholder="{lang用於資料加密通迅時使用，建議定期更改}" autocomplete="off" class="layui-input long"></li>
					<li style="margin-top:3px;"><input type="button" class="layui-btn layui-btn-sm" onclick="$.admin_all.rand()" value="{lang隨機生成}"/></li>
				</ul>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang新增頁頭資訊，如新增google驗證，百度驗證等，支援HTML}"></i>
				{lang網站擴充套件}
			</label>
			<div class="layui-input-block">
				{$code_editor_info}
			</div>
		</div>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">{lang擴展信息}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">{lang網站狀態}</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="status" lay-filter="status" data="status_close" lay-skin="switch" value="1" lay-text="{lang啟用}|{lang禁用}" {if $rs.status} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang要停止此網站執行，請在這裡關閉}</div>
		</div>
		<div class="layui-form-item layui-form-text" id="status_close" {if $rs.status} style="display: none" {/if}>
			<label class="layui-form-label">
				<i class="layui-icon layui-icon-tips" lay-tips="{lang簡單說明關閉網站的通知資訊}"></i>
				{lang關閉說明}
			</label>
			<div class="layui-input-block">
				
				<textarea name="content" placeholder="{lang請輸入關閉網站的原因}" class="layui-textarea" style="resize:none;">{$rs.content}</textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang網站風格}
			</label>
			<div class="layui-input-inline">
				<select id="tpl_id" name="tpl_id">
					<!-- if $tpl_list -->
						<!-- loop from=$tpl_list key=$key value=$value id=$tmpid -->
						<option value="{$value.id}" {if $rs.tpl_id== $value.id} selected{/if}>{$value.title}</option>
						<!-- /loop -->
					<!-- else -->
						<option value="">{lang未安裝風格包，請先安裝}</option>
					<!-- /if -->
				</select>
			</div>
			<div class="layui-input-inline auto lh38">
				<input class="layui-btn layui-btn-sm" type="button" onclick="$.admin_all.setting_style('{$rs.id}')" value="{lang自定義風格}"/>
			</div>
			<div class="layui-input-inline auto gray lh38">
				{lang指定網站要使用的預設風格，注意，風格不區分語言和站點，請仔細選擇}
			</div>
		</div>
		
		<!-- if $multiple_language -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang預設語言}
			</label>
			<div class="layui-input-inline">
				<select id="lang" name="lang">
					<!-- loop from=$langlist key=$key value=$value -->
					<option value="{$key}" {if $rs.lang== $key} selected{/if}>{$value}</option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang未設定語言包時，將呼叫系統預設語言包}</div>
		</div>
		<!-- else -->
		<input type="hidden" name="lang" id="lang" value="cn"/>
		<!-- /if -->
		<div class="layui-form-item">
			<label class="layui-form-label">{lang註冊}</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="register_status" data="register_close" lay-filter="status" lay-skin="switch" value="1" lay-text="{lang啟用}|{lang禁用}" {if $rs.register_status} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang註冊功能開關，關閉註冊請寫上註冊原因}</div>
		</div>
		<div class="layui-form-item layui-form-text" id="register_close" {if $rs.register_status} style="display: none" {/if}>
			<label class="layui-form-label">{lang關閉原因}</label>
			<div class="layui-input-block">
				<textarea name="register_close" placeholder="{lang請輸入關閉註冊的原因}" class="layui-textarea">{$rs.content}</textarea>
			</div>
			<div class="layui-input-block mtop">{lang簡單說明關閉註冊的通知資訊}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang登入}</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="login_status" data="login_close" lay-filter="status" lay-skin="switch" value="1" lay-text="{lang啟用}|{lang禁用}" {if $rs.login_status} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang登入功能開關}</div>
		</div>
		<div class="layui-form-item layui-form-text" id="login_close" {if $rs.login_status} style="display: none" {/if}>
			<label class="layui-form-label">{lang關閉原因}</label>
			<div class="layui-input-block">
				<textarea name="login_close" placeholder="{lang請輸入關閉登入的原因}" class="layui-textarea">{$rs.content}</textarea>
			</div>
			<div class="layui-input-block mtop">{lang簡單說明關閉登入的通知資訊}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang設定會員登入的預設方式}">&#xe702;</i>
				{lang登入方式}
			</label>
			<div class="layui-input-inline auto">
				<input type="radio" name="login_type" {if !$rs.login_type} checked{/if} value="0" title="{lang普通登入（即賬號密碼登入方式）}">
				<!-- if $gateway_email -->
				<input type="radio" name="login_type" value="email" {if $rs.login_type== 'email'} checked{/if} title="{langEmail驗證登入}">
				<!-- /if -->
				<!-- if $gateway_sms -->
				<input type="radio" name="login_type" value="sms" {if $rs.login_type== 'sms'} checked{/if} title="{lang簡訊驗證登入}">
				<!-- /if -->
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang顯示在後臺管理左上方的LOGO}">&#xe702;</i>
				{lang後臺Logo}
			</label>
			<div class="layui-input-inline default-auto">
				{func form_edit adm_logo29 $rs.adm_logo29 text form_btn=image}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang顯示在居中登入框上，建議使用PNG透明圖片}">&#xe702;</i>
				{lang登入Logo}
			</label>
			<div class="layui-input-inline default-auto">
				{func form_edit adm_logo180 $rs.adm_logo180 text form_btn=image}
			</div>
		</div>

		<!-- if $gateway_email -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang郵件驗證碼}
			</label>
			<div class="layui-input-inline default-auto">
				<select name="login_type_email">
					<option value="">{lang請選擇…}</option>
					<!-- loop from=$email_tplist key=$key value=$value id=$tmpid -->
					<option value="{$value.identifier}" {if $rs.login_type_email== $value.identifier} selected{/if}>{$value.title}<!-- if $value.note --> （{$value.note}）<!-- /if --></option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang請配置好郵件驗證碼模板}</div>
		</div>
		<!-- /if -->
		<!-- if $gateway_sms -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang簡訊驗證碼}
			</label>
			<div class="layui-input-inline default-auto">
				<select name="login_type_sms">
					<option value="">{lang請選擇…}</option>
					<!-- loop from=$sms_tplist key=$key value=$value id=$tmpid -->
					<option value="{$value.identifier}" {if $rs.login_type_sms== $value.identifier} selected{/if}>{$value.title}<!-- if $value.note --> （{$value.note}）<!-- /if --></option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang請配置好簡訊驗證碼模板}</div>
		</div>
		<!-- /if -->
	</div>
</div>

<div class="layui-card">
	<div class="layui-card-header">{lang電子商務}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">{lang電子商務}</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="biz_status" lay-skin="switch" value="1" lay-text="{lang啟用}|{lang禁用}" {if $rs.biz_status} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang僅限這裡啟用電商後，整個平臺才支援電商化}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang電商特點}</label>
			<div class="layui-input-inline auto">
				<input type="radio" name="biz_main_service" value="1" title="{lang服務}" {if $rs.biz_main_service} checked{/if}>
				<input type="radio" name="biz_main_service" value="0" title="{lang實物}" {if !$rs.biz_main_service} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang請勾選實物或服務，以方便在錄入產品時優先選中項}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang訂單號規則}</label>
			<div class="layui-input-block">
				<input type="text" id="biz_sn" name="biz_sn" value="{$rs.biz_sn}" placeholder="{lang用於資料加密通迅時使用，建議定期更改}" autocomplete="off" class="layui-input">
			</div>
			<div class="layui-input-block" style="margin-top:5px;">
				<div class="layui-btn-group">
					<input type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="$('#biz_sn').val('')" value="{lang清空}">
					<input type="button" value="{lang字首}" onclick="insert_input('prefix[P]','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang年}" onclick="insert_input('year','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang月}" onclick="insert_input('month','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang日}" onclick="insert_input('date','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang時}" onclick="insert_input('hour','biz_sn','-')" class="layui-btn layui-btn-sm "/>
					<input type="button" value="{lang分}" onclick="insert_input('minute','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang秒}" onclick="insert_input('second','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang隨機}" onclick="insert_input('rand','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang時間戳}" onclick="insert_input('time','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang序號}" onclick="insert_input('number','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang訂單ID}" onclick="insert_input('id','biz_sn','-')" class="layui-btn layui-btn-sm"/>
					<input type="button" value="{lang會員ID}" onclick="insert_input('user','biz_sn','-')" class="layui-btn layui-btn-sm"/>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang電商貨幣}</label>
			<div class="layui-input-inline default-auto">
				<select name="currency_id">
					<option value="">{lang不使用}</option>
					<!-- loop from=$currency_list key=$key value=$value -->
					<option value="{$value.id}" {if $rs.currency_id== $value.id} selected{/if}>{$value.title}_{lang標識}_{$value.code}, {lang匯率}_{$value.val}</option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang啟用電子商務功能需要設定前臺預設貨幣}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang預設支付}</label>
			<div class="layui-input-inline default-auto">
				<select name="biz_payment">
					<option value="0">{lang不指定}</option>
					<!-- loop from=$payment key=$key value=$value -->
					<option value="{$value.id}" {if $rs.biz_payment== $value.id} selected{/if}>{$value.group_title}_{$value.title}<!-- if $value.wap -->_{lang手機版}<!-- /if --></option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang用於建立訂單時預設繫結支付方式}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">{lang運費}</label>
			<div class="layui-input-inline default-auto">
				<select name="biz_freight">
					<option value="0">{lang不使用運費}</option>
					<!-- loop from=$freight key=$key value=$value id=$tmpid -->
					<option value="{$value.id}" {if $rs.biz_freight== $value.id} selected{/if}>{$value.title}</option>
					<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang請選擇電商平臺運費計算方法}</div>
		</div>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">{langSEO優化}</div>
	<div class="layui-card-body">
		<div id="seo_setting">
			
			<div class="layui-form-item">
				<label class="layui-form-label">{lang網址優化}</label>
				<div class="layui-input-block">
					<input type="radio" name="url_type" value="default" title="{lang預設動態網址}"{if $rs.url_type == "default" || !$rs.url_type} checked{/if}>
					<span style="position: absolute; top: 9px;">{lang示例：}http://www.domain.com/index.php?id={lang標識或數字ID}</span>
				</div>
				<div class="layui-input-block">
					<input type="radio" name="url_type" value="rewrite"{if $rs.url_type== "rewrite"} checked{/if} title="{lang偽靜態頁}">
					<span style="position: absolute; top: 9px;">{lang示例：}http://www.domain.com/{lang標識或數字ID}.html</span>
				</div>
				<div class="layui-input-block mtop">{lang本系統全面支援網址優化，您可以根據自身條件進行設定}</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{langSEO標題}</label>
				<div class="layui-input-block">
					<input type="text" id="seo_title" name="seo_title" value="{$rs.seo_title}" class="layui-input" autocomplete="off">
				</div>
				<div class="layui-input-block mtop">{lang針對HTML裡的Title屬性進行優化，建議使用英文豎線分割開來，不超過80字}</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{langSEO關鍵字}</label>
				<div class="layui-input-block">
					<input type="text"  id="seo_keywords" name="seo_keywords" value="{$rs.seo_keywords}" class="layui-input" autocomplete="off">
				</div>
				<div class="layui-input-block mtop">{lang簡單明瞭用幾個詞來描述您的網站，多個詞用英文逗號隔開}</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">{langSEO摘要}</label>
				<div class="layui-input-block">
					<textarea name="seo_desc" class="layui-textarea">{$rs.seo_desc}</textarea>
				</div>
				<div class="layui-input-block mtop">{lang針對您的網站，簡單描述其作用，目標群體，未來方向等資訊，建議不超過100字}</div>
			</div>
		</div>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">{lang上傳配置}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang遊客上傳}
			</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="upload_guest" lay-skin="switch" value="1" lay-text="{lang啟用}|{lang禁用}" {if $rs.upload_guest} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang啟用上傳許可權後，遊客可以上傳JPG，GIF，PNG，JPEG，ZIP，RAR這幾種型別的附件}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang會員上傳}
			</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" name="upload_user" lay-skin="switch" value="1" lay-text="{lang啟用}|{lang禁用}" {if $rs.upload_user} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">{lang啟用後，會員可以上傳後臺開放的附件型別上傳}</div>
		</div>
	</div>
</div>
<div class="submit-info-clear"></div>
<div class="submit-info">
	<div class="layui-container center">
		<input type="submit" value="{lang儲存配置}" class="layui-btn layui-btn-lg layui-btn-danger" />
		<input type="button" value="{lang取消關閉}" class="layui-btn layui-btn-lg layui-btn-primary" onclick="$.admin.close()" />
	</div>
</div>
</form>
<!-- include tpl=foot_lay -->