<!-- include tpl=head_open -->
<form method="post" id="post_save" onsubmit="return false">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="table">
	<div class="title">
		{lang名稱}
		<span class="note">{lang用於後臺閱讀，儘量簡短，建議不超過5個漢字}</span></span>
	</div>
	<div class="content">
		<input type="text" id="title" name="title" class="w99" value="{$rs.title}" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang標識}
		<span class="note">{lang限字母、數字、下劃線或中劃線，且必須是字母開頭}</span>
	</div>
	<div class="content"><input type="text" id="identifier" name="identifier" class="default" value="{$rs.identifier}" /></div>
</div>

<div class="table">
	<div class="title">
		{lang圖示}
		<span class="note">{lang必填，需要確認一個圖示}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<!-- loop from=$icolist key=$key value=$value -->
			<li><label title="{func basename $value}">
				<table>
				<tr>
					<td><input type="radio" name="ico" value="{$value}"{if $rs.ico == $value} checked{/if} /></td>
					<td><img src="{$value}" alt="{func basename $value}" /></td>
				</tr>
				</table>
			</label></li>
			<!-- /loop -->
			<div class="clear"></div>
		</ul>
	</div>
</div>

<div class="table">
	<div class="title">
		{lang狀態}
		<span class="note">{lang是否在前臺網頁啟用}</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><label for="status_0"><input type="radio" name="status" id="status_0" value="0"{if $id && !$rs[status]} checked{/if} />{lang不啟用}</label></td>
			<td><label for="status_1"><input type="radio" name="status" id="status_1" value="1"{if !$id || $rs[status]} checked{/if} />{lang啟用}</label></td>
		</tr>
		</table>
	</div>
</div>
</form>
<!-- include tpl=foot_open -->