<!-- include tpl=head_lay nopadding=true -->
<div class="layui-card">
	<div class="layui-card-body">
		<form method="post" class="layui-form" id="post_save" onsubmit="return $.admin_appsys.create()">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang應用名稱}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="title" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang設定名稱以方便管理}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang應用標識}
			</label>
			<div class="layui-input-block">
				<input type="text" name="identifier" class="layui-input" />
			</div>
			<div class="layui-input-block mtop red">{lang不能為空，限小寫字母，數字及下劃線，必須是字母開頭}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang應用備註}
			</label>
			<div class="layui-input-block">
				<input type="text" name="note" class="layui-input" />
			</div>
			<div class="layui-input-block mtop">{lang填寫備註資訊，以方便開發者瞭解熟悉功能}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang執行範圍}
			</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" lay-skin="primary" name="is_admin" title="{lang後臺}" checked />
				<input type="checkbox" lay-skin="primary" name="is_www" title="{lang前臺}" />
				<input type="checkbox" lay-skin="primary" name="is_api" title="{lang介面}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang勾選即開啟，至少選一個}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang安裝指令碼}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="install" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang安裝時要執行的PHP檔案}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang解除安裝指令碼}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="uninstall" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang解除安裝時要執行的PHP檔案}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang開發者}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" name="author" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang填寫團體名稱或個人姓名}</div>
		</div>
		</form>
	</div>
</div>
<!-- include tpl=foot_lay is_open=true -->