<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang列表}
		<!-- if $popedom.setting || $popedom.remote -->
		<div class="layui-btn-group test-table-operate-btn fr">
			<!-- if $popedom.setting -->
			<button class="layui-btn layui-btn-sm" onclick="$.admin_appsys.add()"><i class="layui-icon">&#xe654;</i>{lang建立應用}</button>
			<button class="layui-btn layui-btn-sm" onclick="$.admin_appsys.import_zip()"><i class="layui-icon">&#xe653;</i>{lang匯入應用}</button>
			<button class="layui-btn layui-btn-sm" onclick="$.admin_appsys.setting()"><i class="layui-icon">&#xe716;</i> {lang配置環境}</button>
			<!-- /if -->
			<!-- if $popedom.remote -->
			<button class="layui-btn layui-btn-sm" onclick="$.admin_appsys.remote()"><i class="layui-icon">&#xe601;</i> {lang更新遠端資料}</button>
			<!-- /if -->
			<button class="layui-btn layui-btn-sm" onclick="$.win('{lang應用備份列表}','{url ctrl=appsys func=backup_list/}')"><i class="layui-icon">&#xe623;</i> {lang備份列表}</button>
		</div>
		<!-- /if -->
	</div>
	
	<div class="layui-card-body">
		
		<table class="layui-table">
			<thead>
				<tr>
					<th>{lang名稱}</th>
					<th>{lang標識}</th>
					<th class="center">{lang後臺管理}</th>
					<th class="center">{lang前臺}</th>
					<th class="center">{lang介面}</th>
					<th class="center">{lang安裝狀態}</th>
					<th></th>
				</tr>
			</thead>
			<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
			<tr>
				<td id="{$key}_title">{$value.title}<!-- if $value.local --><span class="red"> / {lang本地}</span><!-- /if --></td>
				<td>{$key}</td>
				<td class="center">
					<!-- if $value.status && $value.status.admin -->{lang支援}<!-- else --><span class="gray">{lang不支援}</span><!-- /if -->
				</td>
				<td class="center">
					<!-- if $value.status && $value.status.www -->{lang支援}<!-- else --><span class="gray">{lang不支援}</span><!-- /if -->
				</td>
				<td class="center">
					<!-- if $value.status && $value.status.api -->{lang支援}<!-- else --><span class="gray">{lang不支援}</span><!-- /if -->
				</td>
				<td class="center"><!-- if $value.installed --><span class="gray">{lang已安裝}</span><!-- else --><span class="red">{lang未安裝}</span><!-- /if --></td>
				<td>
					<div class="layui-btn-group">
						<input type="button" value="{lang備份}" onclick="$.admin_appsys.backup_zip('{$key}')" class="layui-btn layui-btn-sm" />
						<!-- if $value.local -->
						<input type="button" value="{lang程式碼編輯}" onclick="$.admin_appsys.filelist('{$key}','{$value.title}')" class="layui-btn layui-btn-sm" />
						<input type="button" value="{lang匯出}" onclick="$.admin_appsys.export_zip('{$key}')" class="layui-btn layui-btn-sm" />
						<!-- /if -->
						<!-- if $value.installed -->
						<input type="button" value="{lang解除安裝}" onclick="$.admin_appsys.uninstall('{$key}')" class="layui-btn layui-btn-sm layui-btn-danger" />
						<!-- else -->
						<input type="button" value="{lang安裝}" onclick="$.admin_appsys.install('{$key}')" class="layui-btn layui-btn-sm" />
							<!-- if $value.local -->
							<input type="button" value="{lang刪除}" onclick="$.admin_appsys.delete_apps('{$key}')" class="layui-btn layui-btn-sm layui-btn-danger" />
							<!-- /if -->
						
						<!-- /if -->
					</div>
				</td>
			</tr>
			<!-- /loop -->
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->