<!-- include tpl=head_open -->
<form method="post" id="post_save">
<div class="table">
	<div class="title">
		{lang伺服器} <span class="note">{lang請配置遠端伺服器}</span>
	</div>
	<div class="content">
		<input type="text" name="server" id="server" value="{$rs.server}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{langIP} <span class="note">{lang如無法解析域名，請手工指定IP}</span>
	</div>
	<div class="content">
		<input type="text" name="ip" id="ip" value="{$rs.ip}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang目錄} <span class="note">{lang不清楚請設定為} /</span>
	</div>
	<div class="content">
		<input type="text" name="folder" id="folder" value="{$rs.folder}" class="w99" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang是否啟用HTTPS} <span class="note">{lang官網提供的APP介面預設是沒有啟用 HTTPS}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<li><label><input type="radio" name="https" value="1"{if $rs.https} checked{/if} />{lang啟用 HTTPS}</label></li>
			<li><label><input type="radio" name="https" value="0"{if !$rs || !$rs.https} checked{/if} />{lang禁用 HTTPS}</label></li>
		</ul>
	</div>
</div>
</form>
<!-- include tpl=foot_open -->