<!-- include tpl=head_lay -->
<script type="text/javascript" src="{func include_js list.js}"></script>
<form method="post" id="_listedit" class="layui-form" onsubmit="return $.admin_list_edit.save()">
<input type="hidden" name="id" id="id" value="{$id}" />
<input type="hidden" name="pid" id="pid" value="{$pid}" />
<input type="hidden" name="lid" id="lid" value="{$book_info.id}" />
<input type="hidden" name="parent_id" id="parent_id" value="{$parent_id}" />
<div class="layui-card">
	<div class="layui-card-header">{if $id}編輯{else}新增{/if}書籍</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label"><!-- if $p_rs.alias_title -->{$p_rs.alias_title}<!-- else -->{lang主題}<!-- /if --></label>
			<div class="layui-input-block">
				<input type="text" name="title" id="title" value="{$rs.title}" class="layui-input" placeholder="{lang不能超過80個漢字}<!-- if $p_rs.alias_note -->，{$p_rs.alias_note}<!-- /if -->" />
			</div>
		</div>		

		<!-- loop from=$extlist key=$key value=$value id=$tmpid -->
		{if $value.identifier == 'content'}
        <?php $content = $value['content'];continue; ?>
		{/if}
		<div class="layui-form-item">
			<label class="layui-form-label">
				<!-- if $value.note -->
				<i class="layui-icon layui-tips" lay-tips="{$value.note}">&#xe702;</i>
				<!-- /if -->
				{$value.title}
			</label>
			<div class="layui-input-block">
				{$value.html}
				<!-- if $popedom.ext && $value.is_edit && $session.adm_develop -->
				<div class="layui-btn-group">
					<!-- if $ext_module != 'add-list' -->
					<input type="button" value="{lang編輯}" class="layui-btn layui-btn-xs" onclick="ext_edit('{$value.identifier}','{$ext_module}')" />
					<!-- /if -->
					<input type="button" value="{lang刪除}" class="layui-btn layui-btn-xs layui-btn-danger" onclick="ext_delete('{$value.identifier}','{$ext_module}','{$value.title}')" />
				</div>
				<!-- /if -->
			</div>
		<!-- /loop -->


			<!-- 編輯器 start -->
			<style>
				.input-text,.note-editable{
					writing-mode: tb-rl;
					writing-mode: vertical-rl;
					-webkit-writing-mode: vertical-rl;
					width: 100% !important;
					font-size: 16px; letter-spacing:2px;
					height:460px !important;
				}
				#edui1_iframeholder{
					writing-mode: tb-rl;
					writing-mode: vertical-rl;
					-webkit-writing-mode: vertical-rl;
				}

				.note-editor,.note-editable{ width: 400px;}
			</style>
		<div class="layui-form-item" >
			<label class="layui-form-label">內容</label>
			<div class="layui-input-block">
				<script id="content" type="text/plain" style="width:100%;height:750px"><?=$content?></script>
                <script type="text/javascript">
                var fontSizeArr = new Array();
                for(var n = 12; n < 100; n++) {
                    fontSizeArr.push(n);
                }
                var edit_config_51 = {
                    'UEDITOR_HOME_URL':webroot+'js/ueditor/'
                    ,'serverUrl':get_url('ueditor')
					,'initialFrameWidth':'100%'
                    ,'allowDivTransToP': false
                    ,'initialFrameWidth':'500'
                    ,'initialFrameHeight':'750'
                    ,'sourceEditorFirst':false	,'readonly':false	,'pasteplain':false	,'autoFloatEnabled':false	,'autoHeightEnabled':false	,'zIndex':99
                    ,'fontsize':fontSizeArr
                    ,'textarea':'content'
                    ,iframeCssUrl: webroot + '/js/ueditor/themes/book.css' //給編輯區域的iframe引入一個css檔案
                };
                var edit_51 = UE.getEditor('content',edit_config_51);
				</script>
			</div>
		</div>
			<!-- 編輯器 end -->


		</div>

		<!-- if $p_rs.is_tag == 2 -->
		<div class="layui-form-item">
			<label class="layui-form-label">{lang標籤}</label>
			<div class="layui-input-block">
				<input type="text" name="tag" id="tag" value="{$rs.tag}" class="layui-input" />
			</div>
			<div class="layui-input-block mtop">
				<div class="layui-btn-group">
					<!-- if $tag_config.count && $taglist -->
					<!-- loop from=$taglist key=$key value=$value id=$tmpid -->
					<input type="button" value="{$value.title}" onclick="$.phpok_list.tag_append(this.value,'{$tag_config.separator}')" class="layui-btn layui-btn-sm" />
					<!-- /loop -->
					<!-- /if -->
					<input type="button" value="{lang更多選擇}" onclick="$.phpok_list.tag()" class="layui-btn layui-btn-sm layui-btn-warm" />
					<input type="button" value="{lang清空}" onclick="$('input[name=tag]').val('')" class="layui-btn layui-btn-sm layui-btn-danger" />
				</div>
			</div>
			<div class="layui-input-block mtop">{lang多個標籤用 [title] 分開，最多不能超過10個|title:$tag_config.separator}</div>
		</div>
		<!-- /if -->

	</div>
</div>

<div class="layui-card">
	<div class="layui-card-header hand" onclick="$.admin.card(this)">
		{lang擴展信息}
		<i class="layui-icon layui-icon-right"></i>
	</div>
	<div class="layui-card-body">
		<!-- if $p_rs.is_identifier == 1 -->
		<div class="layui-form-item">
			<label class="layui-form-label">{lang自定義標識}</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="identifier" name="identifier" value="{$rs.identifier}" class="layui-input" />
			</div>
			<div class="layui-input-inline auto" id="HTML-POINT-PHPOK-IDENTIFIER">
				<input type="button" value="{lang隨機碼}" onclick="$.admin.rand()" class="layui-btn layui-btn-sm" />
			</div>
			<div class="layui-input-inline auto gray">{lang僅支援字母、數字、下劃線或中劃線且必須是字母開頭}</div>
		</div>
		<!-- /if -->
		<!-- if $p_rs.is_userid == 1 -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang會員}
			</label>
			<div class="layui-input-inline auto">
				{func form_edit user_id $rs.user_id user}
			</div>
			<div class="layui-input-inline auto gray lh38">{lang繫結會員功能，允許會員對主題進行修改或刪除，需要開放釋出許可權}</div>
		</div>
		<!-- /if -->
		<!-- if $p_rs.is_tag == 1 -->
		<div class="layui-form-item">
			<label class="layui-form-label">{lang標籤}</label>
			<div class="layui-input-block">
				<input type="text" name="tag" id="tag" value="{$rs.tag}" class="layui-input" />
			</div>
			<div class="layui-input-block mtop">
				<div class="layui-btn-group">
					<!-- if $tag_config.count && $taglist -->
					<!-- loop from=$taglist key=$key value=$value id=$tmpid -->
					<input type="button" value="{$value.title}" onclick="$.phpok_list.tag_append(this.value,'{$tag_config.separator}')" class="layui-btn layui-btn-sm" />
					<!-- /loop -->
					<!-- /if -->
					<input type="button" value="{lang更多選擇}" onclick="$.phpok_list.tag()" class="layui-btn layui-btn-sm layui-btn-warm" />
					<input type="button" value="{lang清空}" onclick="$('input[name=tag]').val('')" class="layui-btn layui-btn-sm layui-btn-danger" />
				</div>
			</div>
			<div class="layui-input-block mtop">{lang多個標籤用 [title] 分開，最多不能超過10個|title:$tag_config.separator}</div>
		</div>
		<!-- /if -->
		<!-- if $p_rs.is_tpl_content == 1 -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang內容模板}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="tpl" name="tpl" class="layui-input" value="{$rs.tpl}" />
			</div>
			<div class="layui-input-inline auto gray">
				<div class="layui-btn-group">
					<input type="button" value="{lang選擇}" onclick="phpok_tpl_open('tpl')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang清空}" onclick="$('#tpl').val('');" class="layui-btn layui-btn-sm" />
				</div>
			</div>
			<div class="layui-input-inline auto gray lh38">
				{lang為空將使用} <span class="red">{$p_rs.tpl_content ? $p_rs.tpl_content : $p_rs.identifier.'_content'}</span>
			</div>
		</div>
		<!-- /if -->
		<div class="layui-form-item" style="display: none">
			<label class="layui-form-label">
				{lang狀態}
			</label>
			<div class="layui-input-inline auto">
				<input type="radio" title="{lang未稽核}" name="status" id="status_0" value="0"{if $id && !$rs[status]} checked{/if} />
				<input type="radio" name="status" title="{lang已稽核}" id="status_1" value="1"{if !$id || $rs[status]} checked{/if} />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang未稽核主題前臺不可用，不可訪問}</div>
		</div>
		<div class="layui-form-item" style="display: none">
			<label class="layui-form-label">
				{lang是否隱藏}
			</label>
			<div class="layui-input-inline auto">
				<input type="radio" title="{lang顯示}" name="hidden" id="hidden_0" value="0"{if !$rs[hidden]} checked{/if} />
				<input type="radio" title="{lang隱藏}" name="hidden" id="hidden_1" value="1"{if $rs.hidden} checked{/if} />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang隱藏的主題在列表中不可見，但可以手工輸網址訪問}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang發布時間}
			</label>
			<div class="layui-input-inline auto">
				<input type="text" id="dateline" name="dateline" class="layui-input" value="{if $rs.dateline}{func date 'Y-m-d H:i:s' $rs.dateline}{/if}" />
			</div>
			<div class="layui-input-inline auto">
				<div class="layui-btn-group">
					<input type="button" value="{lang時間選擇器}" onclick="$.phpokform.laydate_button('dateline','datetime')" class="layui-btn layui-btn-sm" id="btn_dateline_datetime" />
					<input type="button" value="{lang清空}" onclick="$.phpokform.clear('dateline')" class="layui-btn layui-btn-sm" />
				</div>
			</div>
			<div class="layui-input-inline auto gray lh30">{lang自定義發布時間，留空使用系統時間}</div>
		</div>
		<div class="layui-form-item" style="display: none">
			<label class="layui-form-label">
				{lang閱讀次數}
			</label>
			<div class="layui-input-inline auto">
				<input type="text" id="hits" name="hits" class="layui-input" value="{$rs.hits}" />
			</div>
			<div class="layui-input-inline auto gray lh30">{lang正常情況請不要設定，以保證資料的準確，僅支援整數}</div>
		</div>
		<div class="layui-form-item" style="display: none">
			<label class="layui-form-label">
				{lang財富基數}
			</label>
			<div class="layui-input-inline auto">
				<input type="text" id="integral" class="layui-input" name="integral" value="{$rs.integral}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang只支援整數，用於計算會員虛擬財富增減}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang頁碼}
			</label>
			<div class="layui-input-inline auto">
				<input type="text" id="sort" name="sort" class="layui-input" value="{$rs.sort}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang排序值只支援數字，不清楚請留空}</div>
		</div>
	</div>
</div>
<div class="submit-info">
	<div class="layui-container center">
		<input type="submit" value="{lang提交}" class="layui-btn layui-btn-lg layui-btn-danger" />
		<input type="button" value="{lang取消關閉}" class="layui-btn layui-btn-lg layui-btn-primary" onclick="$.admin.close()" />
	</div>
</div>
<div class="submit-info-clear"></div>
</form>
<!-- include tpl=foot_lay -->