<!-- include tpl=head_lay -->
<div class="layui-card">

	<div class="layui-card-header">
		{lang通知模板內容}
		<button type="button" class="layui-btn layui-btn-sm fr" onclick="$.phpok.go('{url ctrl=email/}')">返回列表</button>
	</div>
	<form method="post" class="layui-form" action="{url ctrl=email func=setok/}" onsubmit="return check_save()">
		<input type="hidden" name="id" id="id" value="{$id}" />
		<div class="layui-card-body">
			<blockquote class="layui-elem-quote">
				{lang簡訊模板以標識：}<b class="layui-bg-red">sms_</b> {lang開頭}{lang，}{lang傳送的內容不帶樣式}<br/>
				{lang部分簡訊介面不支援內容，只允許使用變數引數，這時內容是一行一條格式是：變數名:模板變數}<br/>
				允許自定義的簡訊內容都有自身規範，建議使用阿里提供的簡訊<br/>
				簡訊長度不要超過<b class="layui-bg-red">50字</b>（請注意變數可能用到的長度）
			</blockquote>
			<div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
				<div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
					
				</div>
			</div>
			<!-- php:$identifier = $rs.identifier ? $rs.identifier : ($type == 'sms' ? 'sms_' : 'email_') -->
			<div class="layui-form-item">
				<label class="layui-form-label">{lang標識}</label>
				<div class="layui-input-inline" style="width: 450px">
					<input type="text" id="identifier" name="identifier" value="{$identifier}" required lay-verify="required" autocomplete="off" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">
					{lang該標識用於呼叫}<!-- if $type == 'sms' -->{lang，}{lang簡訊模板請以：}<span class="red">sms_</span> {lang開頭}<!-- else -->{lang禁止使用} sms_ {lang開頭}<!-- /if -->
				</div>
			</div>
			<!-- if $type == 'sms' -->
			<div class="layui-form-item">
				<label class="layui-form-label">{lang模板標籤}</label>
				<div class="layui-input-inline" style="width: 450px">
					<input type="text" id="title" name="title" value="{$rs.title}" required lay-verify="required" autocomplete="off" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">
					{lang適用於阿里雲簡訊等需要使用標籤的地方，使用標籤後，內容將可能是無效的}
				</div>
			</div>
			<!-- else -->
			<div class="layui-form-item">
				<label class="layui-form-label">{lang郵件標題}</label>
				<div class="layui-input-inline" style="width: 450px">
					<input type="text" id="title" name="title" value="{$rs.title}" required lay-verify="required" autocomplete="off" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">
					{lang可以簡單的使用PHPOK變數}
				</div>
			</div>
			<!-- /if -->
			<div class="layui-form-item">
				<label class="layui-form-label">{lang備註}</label>
				<div class="layui-input-inline" style="width: 450px">
					<input type="text" name="note" id="note" value="{$rs.note}" autocomplete="off" class="layui-input" />
				</div>
				<div class="layui-form-mid layui-word-aux">
					{lang對該模板內容的一些備註，建議使用您熟悉的語言}
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">{lang內容}</label>
				<div class="layui-input-inline" style="width: 80%">
					{$edit_content}
				</div>
			</div>
		</div>
		<div class="layui-form-item layui-layout-admin">
			<div class="layui-input-block">
				<div class="layui-footer"  style="left: 0;z-index:10">
					<button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
    var type = "{$type}";
    function check_save()
    {
        var title = $("#title").val();
        if(!title){
            layui.alert("主題不能為空");
            return false;
        }
        var identifier = $("#identifier").val();
        if(!identifier){
            layui.alert("標識不能為空");
            return false;
        }
        if(type == "email"){
            if(identifier.substr(0,4) == 'sms_'){
                layui.alert('不能使用sms_做標識');
                return false;
            }
            var content = UE.getEditor('content').getContentTxt();
            if(!content){
                layui.alert("內容不能空");
                return false;
            }
        }else{
            if(identifier.substr(0,4) != 'sms_'){
                layui.alert('必須使用sms_做標識字首');
                return false;
            }
        }
        var url = get_url("email","check") + "&identifier="+$.str.encode(identifier)+"&type="+type;
        var id = $("#id").val();
        if(id && id != "undefined" && id != "0"){
            url += "&id="+id;
        }
        var rs = $.phpok.json(url);
        if(rs.status != 'ok'){
            layui.alert(rs.content);
            return false;
        }
        $("#submit").attr("disabled",true);
        return true;
    }
</script>
<!-- include tpl=foot_lay -->
