<div class="layui-row layui-col-space10">
	<div class="layui-col-md6">
		<select id="_tmp_select_add" style="padding:3px">
			<option value="">請選擇擴充套件欄位…</option>
			<!-- loop from=$rslist key=$key value=$value -->
			<option value="{$value.identifier}">{$value.title} - {$value.identifier}</option>
			<!-- /loop -->
		</select>
	</div>
	<div class="layui-col-md6">
		<div class="layui-btn-group">
			<input type="button" value="{lang新增}" onclick="_update_select_add()" class="layui-btn" />
			<input type="button" value="{lang標準建立擴充套件欄位}" onclick="ext_add('{$module}')" class="layui-btn" />
		</div>
	</div>
</div>
<script type="text/javascript">
function _update_select_add()
{
	var val = $("#_tmp_select_add").val();
	if(!val){
		$.dialog.alert('請選擇要新增的擴充套件');
		return false;
	}
	ext_add2(val,'{$module}');
}
</script>