<!-- include tpl=head_open -->
<script type="text/javascript" src="{func add_js fields.js}"></script>
<script type="text/javascript">
function save()
{
	if(typeof(CKEDITOR) != "undefined"){
		for(var i in CKEDITOR.instances){
			CKEDITOR.instances[i].updateElement();
		}
	}
	var obj = art.dialog.opener;
	$("#ext_add").ajaxSubmit({
		'url':get_url('ext','save','id={func rawurlencode $id}'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status == 'ok')
			{
				$.dialog.alert('新增成功',function(){
					obj.$.dialog.close();
					obj.$.phpok.reload();
				},'succeed');
			}
			else
			{
				$.dialog.alert(rs.content);
				return false;
			}
		}
	});
}
</script>
<form method="post" id="ext_add">
<div class="table">
	<div class="title">
		欄位名稱：
		<span class="note">設定一個名稱，該名稱在表單的頭部資訊顯示</span></span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="text" id="title" name="title" class="default" /></td>
			<td><div id="title_note"></div></td>
		</tr>
		</table>
	</div>
</div>

<div class="table">
	<div class="title">
		欄位備註：
		<span class="note">僅限後臺管理使用，用於檢視這個欄位主要做什麼</span></span>
	</div>
	<div class="content"><input type="text" id="note" name="note" class="long" /></div>
</div>

<div class="table">
	<div class="title">
		欄位標識：
		<span class="note">僅限 <span class="darkblue b">字母、數字及下劃線，且必須以字母開頭</span></span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="text" id="identifier" name="identifier" class="default" /></td>
			<td><div id="identifier_note"></div></td>
		</tr>
		</table>
	</div>
</div>

<div class="table">
	<div class="title">
		表單型別：
		<span class="note">請選擇欄位要使用的表單</span>
	</div>
	<div class="content">
		<select name="form_type" id="form_type" onchange="_phpok_form_opt(this.value,'form_type_ext','{$id}','fields')">
			<option value="">請選擇…</option>
			<!-- loop from=$form_list key=$key value=$value -->
			<option value="{$key}"{if $key == $rs.form_type} selected{/if}>{$value}</option>
			<!-- /loop -->
		</select>
	</div>
</div>

<div id="form_type_ext" style="display:none;"></div>

<div class="table">
	<div class="title">
		CSS：
		<span class="note">長度不能超過250個字元，建議您不要在這裡設定寬高</span>
	</div>
	<div class="content"><input type="text" id="form_style" name="form_style" class="long" value="{$rs.form_style}" /></div>
</div>

<div class="table">
	<div class="title">
		表單預設值：
		<span class="note">設定表單預設值，如果表單中有多個值，請用英文逗號隔開</span>
	</div>
	<div class="content"><input type="text" id="content" name="content" class="long" value="{$rs.content}" /></div>
</div>


<div class="table">
	<div class="title">
		接收資料格式化：
		<span class="note">設定文字常見格式，如HTML，整型，浮點型等</span>
	</div>
	<div class="content">
		<select name="format" id="format">
			{if !$id}<option value="">請選擇…</option>{/if}
			<!-- loop from=$format_list key=$key value=$value id=format_list_id -->
			<option value="{$key}"{if $rs.format == $key} selected{/if}>{$value}</option>			
			<!-- /loop -->
		</select>
	</div>
</div>

<div class="table">
	<div class="title">
		排序：
		<span class="note">用於被使用的欄位人工排序</span>
	</div>
	<div class="content"><input type="text" id="taxis" name="taxis" class="short" value="{$taxis}" /></div>
</div>
</form>
<!-- inc:foot_open -->