<!-- include tpl=head_open -->
<script type="text/javascript">
function save()
{
	if(typeof(CKEDITOR) != "undefined"){
		for(var i in CKEDITOR.instances){
			CKEDITOR.instances[i].updateElement();
		}
	}
	var obj = art.dialog.opener;
	$("#modify").ajaxSubmit({
		'url':get_url('ext','save','id={$module}{if $tid}&tid={$tid}{/if}{if $tmpid}&tmpid={$tmpid}{/if}'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status == 'ok')
			{
				$.dialog.alert('欄位編輯成功',function(){
					obj.$.dialog.close();
					obj.$.phpok.reload();
				},'succeed');
			}
			else
			{
				$.dialog.alert(rs.content);
				return false;
			}
		}
	});
}
</script>
<form method="post" id="modify">
<div class="table">
	<div class="title">
		欄位名稱：
		<span class="note">設定一個名稱，該名稱在表單的頭部資訊顯示</span></span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="text" id="title" name="title" class="default" value="{$rs.title}" /></td>
			<td><div id="title_note"></div></td>
		</tr>
		</table>
	</div>
</div>

<div class="table">
	<div class="title">
		欄位備註：
		<span class="note">僅限後臺管理使用，用於檢視這個欄位主要做什麼</span></span>
	</div>
	<div class="content"><input type="text" id="note" name="note" class="long" value="{$rs.note}" /></div>
</div>

<div class="table">
	<div class="title">
		表單型別：
		<span class="note">請選擇欄位要使用的表單 <span class="red n">新增完後，將不允許再修改</span></span>
	</div>
	<div class="content">
		<table>
		<tr>
			<td><select id="form_type" name="form_type" onchange="_phpok_form_opt(this.value,'form_type_ext','{$id}')">
					<option value="">請選擇表單</option>
					<!-- foreach($form_list AS $key=>$value) -->
					<option value="{$key}"{if $key == $rs.form_type} selected{/if}>{$value}</option>
					<!-- /foreach -->
				</select>
			</td>
		</tr>
		</table>
	</div>
</div>
<div id="form_type_ext" style="display:none"></div>

<div class="table">
	<div class="title">
		<span class="edit">
			表單樣式（CSS）：
			<span class="note">不能超過250個字元，不熟悉CSS，請查手冊：<a href="http://www.phpok.com" target="_blank">phpok.com</a></span>
		</span>
	</div>
	<div class="content"><input type="text" id="form_style" name="form_style" class="long" value="{$rs.form_style}" /></div>
</div>

<div class="table">
	<div class="title">
		表單預設值：
		<span class="note">設定表單預設值，如果表單中有多個值，請用英文逗號隔開</span>
	</div>
	<div class="content"><input type="text" id="content" name="content" class="long" value="{$rs.content}" /></div>
</div>


<div class="table">
	<div class="title">
		接收資料格式化：
		<span class="note">設定文字常見格式，如HTML，整型，浮點型等</span>
	</div>
	<div class="content">
		<select name="format" id="format">
			<!-- loop from=$format_list key=$key value=$value -->
			<option value="{$key}"{if $rs.format == $key} selected{/if}>{$value}</option>
			<!-- /loop -->
		</select>
	</div>
</div>

<div class="table">
	<div class="title">
		排序：
		<span class="note">值越小越往前靠，最小值為0，最大值為255</span>
	</div>
	<div class="content"><input type="text" id="taxis" name="taxis" class="short" value="{$rs.taxis ? $rs.taxis : 255}" /></div>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
	_phpok_form_opt("{$rs.form_type}","form_type_ext","{$rs.id}");
});
</script>
<!-- inc:foot_open -->