<!-- inc:head_open -->
<!-- 
	彈出視窗建立欄位功能，自定義目標儲存
	特別說明：建立的欄位自動儲存到目標，不會在欄位管理體現
	提交使用了jquery.ajaxSubmit功能，請確認相應的JS有載入
 -->
<script type="text/javascript">
function field_form_opt(val,eid)
{
	if(!val || val == "undefined")
	{
		$("#form_type_ext").html('').hide();
		return false;
	}
	var url = get_url("form","config") + "&id="+$.str.encode(val);
	if(eid && eid != "undefined")
	{
		url += "&eid="+eid;
	}
	url += "&etype=fields";
	var html = get_ajax(url);
	if(html && html != 'exit')
	{
		$("#form_type_ext").html(html).show();
	}
}

$(document).ready(function(){
	$('#form_save').submit(function(){
		$(this).ajaxSubmit({
			'url':'{$saveUrl}',
			'type':'post',
			'dataType':'json',
			'success':function(rs){
				if(rs.status == 'ok')
				{
					$.dialog.alert('欄位建立成功',function(){
						parent.$.phpok.reload();
					});
				}
				else
				{
					$.dialog.alert(rs.content);
					return false;
				}
			}
		});
		return false;
	});
});
</script>
<form method="post" id="form_save">
<div class="table">
	<div class="title">
		名稱/標識：
		<span class="note">名稱會在表單中體現，標識限：<span class="darkblue b">字母、數字及下劃線，且必須以字母開頭</span></span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="text" id="title" name="title" value="{$rs.title}" placeholder="名稱" /></td>
			<td>&nbsp;/&nbsp;</td>
			<td><input type="text" id="identifier" name="identifier" value="{$rs.identifier}" placeholder="標識" /></td>
		</tr>
		</table>
	</div>
</div>

<div class="table">
	<div class="title">
		欄位備註：
		<span class="note">填寫表單時，指定這個專案的注意事項</span></span>
	</div>
	<div class="content"><input type="text" id="note" name="note" class="long" value="{$rs.note}" /></div>
</div>

<div class="table">
	<div class="title">
		欄位型別 / 表單型別：
		<span class="note">請慎重選項此項，一般建立後不要修改。</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<select name="field_type" id="field_type">
					<option value="">請選擇欄位型別…</option>
					<!-- loop from=$fields key=$key value=$value -->
					<option value="{$key}"{if $rs.field_type == $key} selected{/if}>{$value}</option>
					<!-- /loop -->
				</select>
			</td>
			<td>&nbsp;/&nbsp;</td>
			<td>
				<select name="form_type" id="form_type" onchange="field_form_opt(this.value,'{$id}')">
					<option value="">請選擇表單型別…</option>
					<!-- loop from=$forms key=$key value=$value -->
					<option value="{$key}"{if $key == $rs.form_type} selected{/if}>{$value}</option>
					<!-- /loop -->
				</select>
			</td>
		</tr>
		</table>
	</div>
</div>

<div id="form_type_ext" style="display:none;"></div>
<input type="hidden" name="form_style" id="form_style" value="{$rs.form_style}" />

<div class="table">
	<div class="title">
		表單預設值：
		<span class="note">設定表單預設值，如果表單中有多個值，請用英文逗號隔開</span>
	</div>
	<div class="content"><input type="text" id="content" name="content" class="long" value="{$rs.content}" /></div>
</div>


<div class="table">
	<div class="title">
		接收資料格式化：
		<span class="note">設定文字常見格式，如HTML，整型，浮點型等</span>
	</div>
	<div class="content">
		<select name="format" id="format">
			<!-- loop from=$formats key=$key value=$value id=format_list_id -->
			<option value="{$key}"{if $rs.format == $key} selected{/if}>{$value}</option>			
			<!-- /loop -->
		</select>
	</div>
</div>

<div class="table">
	<div class="title">
		排序：
		<span class="note">值越小越往前靠，可選範圍：1-255</span>
	</div>
	<div class="content">
		<input type="text" name="taxis" id="taxis" value="{$rs.taxis ? $rs.taxis : 255}" />
	</div>
</div>

<div class="table">
	<div class="content">
		<br />
		<input type="submit" value="提 交" class="submit" />
		<br />
	</div>
</div>
</form>

<!-- if $id -->
<script type="text/javascript">
$(document).ready(function(){
	field_form_opt("{$rs.form_type}","{$id}");
});
</script>
<!-- /if -->

<!-- inc:foot_open -->