<!-- include tpl=head_lay nopadding=true -->
<script type="text/javascript">
function form_check_search()
{
    return true;
	if(!$("#keywords").val()){
		$.dialog.alert(p_lang('請輸入要搜尋的關鍵字'));
		return false;
	}
	return true;
}
</script>
<div class="layui-card">
	<div class="layui-card-body">
		<form method="post" action="{url ctrl=form func=quicklist id=$id/}" class="layui-form" onsubmit="return form_check_search()">
			<input type="hidden" name="project_id" value="{$project_id}">
			<ul class="layout">
				<li style="display: none">
					<select name="project_id" >
						<option value="">請選擇文獻</option>
						<!-- loop from=$project_lists key=$key value=$value id=$tmpid -->
						<option value="{$value.id}" {if $project_id == $value.id}selected{/if}>{$value.space}{$value.title}</option>
						<!-- /loop -->
					</select>
				</li>
				<li style="margin-top:2px;"><input type="text" name="keyword" id="keyword" class="layui-input" value="{$keyword}" placeholder="{lang輸入要搜尋的關鍵字}" /></li>
				<li style="margin-top:5px;"><input type="submit" value="{lang搜尋}" class="layui-btn layui-btn-sm layui-btn-warm" /></li>
			</ul>
		</form>
		<table class="layui-table">
		<thead>
		<tr>
			<th>ID</th>
			<th>標題</th>
			<th width="110px">{lang操作}</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$idx -->
		<tr id="title_{$value.id}">
			<td>{$value.id}</td>
			<td>{$value.title}</td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang檢視}" onclick="$.admin_form.view('{$value.id}','{$value.project_id}')" class="layui-btn layui-btn-sm layui-btn-normal" />
					<input type="button" value="{lang選擇}" onclick="$.phpokform.extitle_select_action('{$value.id}','{$id}','{$identifier}','{$maxcount}')" class="layui-btn layui-btn-sm" />
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
		<!-- include tpl=pagelist -->
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$.phpokform.extitle_remove_selected('{$identifier}');
});
</script>
<!-- include tpl=foot_lay is_open=true -->