<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th>ID</th>
			<th>{lang名稱}</th>
			<th>{lang計費方式}</th>
			<th>{lang貨幣}</th>
			<th width="60">{lang排序}</th>
			<th>{lang操作}</th>
		</tr>
		</thead>
		<tbody>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td class="center">{$value.id}</td>
			<td><input type="text" id="title_{$value.id}" value="{$value.title}" class="layui-input" /></td>
			<td>
				<select id="type_{$value.id}">
					<!-- loop from=$typelist key=$k value=$v id=$tmp -->
					<option value="{$k}"{if $k == $value.type} selected{/if}>{$v}</option>
					<!-- /loop -->
				</select>
			</td>
			<td>
				<select id="currency_{$value.id}">
					<!-- loop from=$currency_list key=$k value=$v id=$tmp -->
					<option value="{$v.id}"{if $v.id == $value.currency_id} selected{/if}>{$v.title}</option>
					<!-- /loop -->
				</select>
			</td>
			<td><input type="text" id="taxis_{$value.id}" value="{$value.taxis}" class="layui-input" /></td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang提交修改}" onclick="$.admin_freight.update('{$value.id}')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang區域設定}" onclick="$.win('{lang區域設定}_#{$value.id}','{url ctrl=freight func=zone fid=$value.id/}')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang價格設定}" onclick="$.admin_freight.price('{$value.id}')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang刪除}" onclick="$.admin_freight.del('{$value.id}')" class="layui-btn layui-btn-sm layui-btn-danger" />
				</div>
			</td>
		</tr>
		<!-- /loop -->
		<tr>
			<td class="center">{lang新增}</td>
			<td><input type="text" id="title_0" class="layui-input" /></td>
			<td>
				<select id="type_0">
					<!-- loop from=$typelist key=$key value=$value id=$tmpid -->
					<option value="{$key}">{$value}</option>
					<!-- /loop -->
				</select>
			</td>
			<td>
				<select id="currency_0">
					<!-- loop from=$currency_list key=$k value=$v id=$tmp -->
					<option value="{$v.id}">{$v.title}</option>
					<!-- /loop -->
				</select>
			</td>
			<td class="center"><input type="text" id="taxis_0" value="{$taxis}" class="layui-input" /></td>
			<td><input type="button" value="{lang新增}" onclick="$.admin_freight.add()" class="layui-btn layui-btn-sm" /></td>
		</tr>
		</tbody>
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->