<!-- include tpl=head_lay csstype=default -->
<script type="text/javascript" src="{url ctrl=js func=ext js=admin.all.js /}"></script>
<!-- if $all_info -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang全域性資訊}
	</div>
	<div class="layui-card-body">
		<div class="sub_box" id="all_setting">
			<div class="box_item">
				<ul>
					<!-- if $all_popedom.site -->
					<li><a title="{lang配置網站資訊，包括網址域名，布全域性關鍵字等}" href="javascript:$.win('{lang網站資訊}','{url ctrl=all func=setting/}');void(0);">
						<div class="top_img"><img src="images/ico/setting.png" alt="{lang網站資訊}" class="ie6png" width="48" height="48" /></div>
						<div class="name">{lang網站資訊}</div></a>
					</li>
						<!-- if $show_vcode_setting -->
						<li><a title="{lang驗證碼開啟或關閉設定}" href="javascript:$.win('{lang驗證碼配置}','{url ctrl=all func=vcode/}');void(0);">
							<div class="top_img"><img src="images/ico/setting2.png" alt="{lang驗證碼配置}" class="ie6png" width="48" height="48" /></div>
							<div class="name">{lang驗證碼}</div></a>
						</li>
						<!-- /if -->
					<!-- /if -->
					<!-- if $all_popedom.domain -->
					<li><a title="{lang網站可以繫結的域名}" href="javascript:$.win('{lang網站域名}','{url ctrl=all func=domain/}');void(0);">
						<div class="top_img"><img src="images/ico/alias.png" alt="{lang網站域名}" class="ie6png" width="48" height="48" /></div>
						<div class="name">{lang網站域名}</div></a>
					</li>
					<!-- /if -->
					<!-- if $site_popedom.order && $config.biz_status -->
					<li><a title="{lang訂單常規配置}" href="javascript:$.win('{lang訂單常規配置}','{url ctrl=site func=order_status/}');void(0);">
						<div class="top_img"><img src="images/ico/shopping_setting.png" alt="{lang訂單常規配置}" class="ie6png" width="48" height="48" /></div>
						<div class="name">{lang訂單配置}</div></a>
					</li>
					<!-- /if -->
					<!-- loop from=$plugin_alist key=$key value=$value id=$tmpid -->
					<li><a title="{$value.title}" href="javascript:$.win('{$value.title}','{$value.url}');void(0);">
						<div class="top_img"><img src="{$value.ico}" class="ie6png" alt="{$value.title}" width="48" height="48" /></div>
						<div class="name">{$value.title}</div></a>
					</li>
					<!-- /loop -->
					<!-- if $all_popedom.gset || $all_popedom.set -->
					<!-- foreach($all_rslist AS $key=>$value) -->
					<li><a title="{$value.title}" href="javascript:$.win('{$value.title}','{url ctrl=all func=set id=$value.id/}');void(0);">
						<div class="top_img"><img src="{$value.ico}" class="ie6png" alt="{$value.title}" width="48" height="48" /></div>
						<div class="name">{$value.title}</div></a>
					</li>
					<!-- /foreach -->
					<!-- if $session.admin_rs.if_system && $session.adm_develop --><li class="plus" onclick="$.admin_all.group()"></li><!-- /if -->
					<!-- /if -->
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /if -->
<!-- if $list_rslist -->
<div class="layui-card">
	<div class="layui-card-header">
		<h3>{lang內容管理}</h3>
	</div>
	<div class="layui-card-body">
		<!-- if $list_rslist -->
		<div class="sub_box" id="list_setting">
			<div class="box_item">
				<ul>
					<!-- loop from=$list_rslist key=$key value=$value -->
					<li pid="{$value.id}"><a title="{$value.title}" href="javascript:$.win('{$value.title}','{$value.url}');void(0);">
						<div class="top_img"><img src="{$value.ico ? $value.ico : 'images/ico/default.png'}" class="ie6png" alt="{$value.title}" width="48" height="48" /></div>
						<div class="name">{$value.nick_title ? $value.nick_title : $value.title}</div></a>
					</li>
					<!-- /loop -->
				</ul>
			</div>
		</div>
		<!-- /if -->
	</div>
</div>
<!-- /if -->
<!-- if $all_status -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang內容統計}
	</div>
	<div class="layui-card-body">
		<ul class="layui-row layui-col-space10 layadmin-backlog">
			<!-- loop from=$all_status key=$key value=$value id=$tmpid -->
            <?php if ($value['id'] == 8) continue;?>
			<li class="layui-col-xs6 layui-col-sm4 layui-col-md2">
				<a href="javascript:$.win('{$value.title}','{url ctrl=list func=action id=$value.id/}');void(0)" class="layadmin-backlog-body">
					<h3>{$value.title}</h3>
					<p><cite>{$value.total}</cite></p>
				</a>
			</li>
			<!-- /loop -->
		</ul>
	</div>
</div>
<!-- /if -->
<style type="text/css">
.server_left{text-align:right;height:30px;}
.server_right{overflow:hidden;text-overflow : ellipsis;height:30px;white-space:nowrap}
</style>
<div class="layui-card">
	<div class="layui-card-header">
		{lang主機環境}
		<div class="fr" style="display: none">
			<input type="button" value="檢視更多" onclick="$.win('{lang主機資訊}','{url ctrl=index func=info/}')" class="layui-btn layui-btn-sm layui-btn-normal" />
		</div>
	</div>
	<div class="layui-card-body">
		<div class="layui-row layui-col-space15">
			<!-- loop from=$serverlist key=$key value=$value id=$tmpid -->
			<div class="layui-col-sm6 layui-col-md3 server_left">
				<!-- if $value[3] --><i class="layui-icon layui-tips" lay-tips="{$value[3]}">&#xe702;</i><!-- /if -->
				{$value[0]}
			</div>
			<div class="layui-col-sm6 layui-col-md3 server_right"{if $value[2]} style="{$value[2]}"{/if}>
				{$value[1]}
			</div>
			<!-- /loop -->
		</div>
		<br />
	</div>
</div>
<!-- plugin body -->
<div class="foot">
	<div class="foot_left">
		<!-- if $sys.debug --><br />{func debug_time}<!-- /if -->
	</div>
	<div class="clear"></div>
</div>
</div>
<!-- plugin foot -->
</body>
</html>
