<!-- include tpl=head_open -->
<form method="post" id="post_save" onsubmit="return false">
<div class="table">
	<div class="title">
		舊密碼：
		<span class="note">修改密碼前，請輸入舊的密碼，以驗證您身份的合法性質</span>
	</div>
	<div class="content">
		<input type="password" id="oldpass" name="oldpass" class="w99" autocomplete="off" disableautocomplete />
	</div>
</div>
<div class="table">
	<div class="title">
		新密碼：
		<span class="note">請輸入新的密碼，長度不能少於5位，建議字母+數字組合</span>
	</div>
	<div class="content">
		<input type="password" id="newpass" name="newpass" class="w99" autocomplete="off" disableautocomplete />
	</div>
</div>
<div class="table">
	<div class="title">
		驗證密碼：
		<span class="note">請再次輸入密碼</span>
	</div>
	<div class="content">
		<input type="password" id="chkpass" name="chkpass" class="w99" autocomplete="off" disableautocomplete />
	</div>
</div>
</form>
<!-- inc:foot_open -->