<!-- include tpl=head_open -->
<form method="post" id="post_save" onsubmit="return false">
<div class="table">
	<div class="title">
		{lang管理員賬號}
		<span class="note">{lang請慎用修改管理員賬號，修改後要求重新登入}</span>
	</div>
	<div class="content">
		<input type="text" id="name" name="name" class="w99" value="{$rs.account}" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang管理員姓名}
		<span class="note">{lang請填寫管理員的姓名，姓名為空時使用賬號作姓名}</span>
	</div>
	<div class="content">
		<input type="text" id="fullname" name="fullname" class="w99" value="{$rs.fullname}" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang郵箱}
		<span class="note">{lang用於接收郵件通知，不設定表示不接收郵件通知，建議您設定有效的郵箱}</span>
	</div>
	<div class="content">
		<input type="text" id="email" name="email" class="w99" value="{$rs.email}" />
	</div>
</div>
</form>
<!-- include tpl=foot_open -->