<!-- include tpl=head_open -->
<script type="text/javascript">
function save()
{
	if(typeof(CKEDITOR) != "undefined"){
		for(var i in CKEDITOR.instances){
			CKEDITOR.instances[i].updateElement();
		}
	}
	var obj = art.dialog.opener;
	$("#form_save").ajaxSubmit({
		'url':get_url('newmodule','field_edit_save'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status == 'ok'){
				$.dialog.alert('{lang欄位編輯成功}',function(){
					obj.$.phpok.reload();
				},'succeed');
			}else{
				$.dialog.alert(rs.content);
				return false;
			}
		}
	});
}
</script>

<form method="post" id="form_save" onsubmit="return false">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="table">
	<div class="title">
		{lang欄位名稱：}
		<span class="note">{lang設定一個名稱，該名稱在表單的頭部資訊顯示}</span></span>
	</div>
	<div class="content">
		<input type="text" id="title" name="title" class="w99" value="{$rs.title}" />
	</div>
</div>

<div class="table">
	<div class="title">
		{lang欄位備註}：
		<span class="note">{lang填寫表單時，指定這個專案的注意事項}</span></span>
	</div>
	<div class="content"><input type="text" id="note" name="note" class="w99" value="{$rs.note}" /></div>
</div>

<div class="table">
	<div class="title">
		{lang表單型別：}
		<span class="note">{lang請選擇欄位要使用的表單}</span>
	</div>
	<div class="content">
		<select id="form_type" name="form_type" class="w99" onchange="$._configForm.option(this.value,'form_type_ext','{$id}','module')">
			<option value="">{lang請選擇表單…}</option>
			<!-- loop from=$form_list key=$key value=$value id=$tmpid -->
			<option value="{$key}"{if $key == $rs.form_type} selected{/if}>{$value.title}<!-- if $value.note -->（{$value.note}）<!-- /if --></option>
			<!-- /loop -->
		</select>
	</div>
</div>

<div id="form_type_ext" style="display:none;"></div>

<div class="table">
	<div class="title">
		<span class="edit">
			{lang表單樣式：}
			<span class="note">{lang不能超過250個字元，不熟悉CSS，請查相關手冊}</span>
		</span>
	</div>
	<div class="content"><input type="text" id="form_style" name="form_style" class="w99" value="{$rs.form_style}" /></div>
</div>
<div class="table">
	<div class="title">
		{lang表單預設值：}
		<span class="note">{lang設定表單預設值，如果表單中有多個值，請用英文逗號隔開}</span>
	</div>
	<div class="content"><input type="text" id="content" name="content" class="w99" value="{$rs.content}" /></div>
</div>


<div class="table">
	<div class="title">
		{lang接收資料格式化：}
		<span class="note">{lang設定文字常見格式，如HTML，整型，浮點型等}</span>
	</div>
	<div class="content">
		<select name="format" id="format" class="w99">
			<!-- loop from=$format_list key=$key value=$value id=$tmpid -->
			<option value="{$key}"{if $rs.format == $key} selected{/if}>{$value.title}<!-- if $value.note -->（{$value.note}）<!-- /if --></option>
			<!-- /loop -->
		</select>
	</div>
</div>

<div class="table">
	<div class="title">
		{lang排序}：
		<span class="note">{lang值越小越往前靠，可選範圍：1-255}</span>
	</div>
	<div class="content">
		<input type="text" name="taxis" id="taxis" value="{$rs.taxis ? $rs.taxis : 255}" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang前端顯示}：
		<span class="note">{lang設定前端是否可用，如果需要前端載入相應屬性請在這裡操作}</span>
	</div>
	<div class="content">
		<table>
		<tr>
			<td><label><input type="radio" name="is_front" value="0"{if !$rs.is_front} checked{/if} />{lang禁用}</label></td>
			<td><label><input type="radio" name="is_front" value="1"{if $rs.is_front} checked{/if} />{lang使用}</label></td>
		</tr>
		</table>
	</div>
</div>


	<div class="table">
		<div class="title">
			{lang後臺顯示}：
			<span class="note">{lang設定後臺列表是否可用，如果需要後臺載入相應屬性請在這裡操作}</span>
		</div>
		<div class="content">
			<table>
				<tr>
					<td><label><input type="radio" name="is_back" value="0"{if !$rs.is_back} checked{/if} />{lang禁用}</label></td>
					<td><label><input type="radio" name="is_back" value="1"{if $rs.is_back} checked{/if} />{lang使用}</label></td>
				</tr>
			</table>
		</div>
	</div>


<script type="text/javascript">
function search_set(val){
	if(val == 3){
		$("#search_separator_html").show();
	}else{
		$("#search_separator_html").hide();
	}
}
</script>
<div class="table">
	<div class="title">
		{lang搜尋}：
		<span class="note">{lang指定該欄位的搜尋型別，使用區間搜尋需要設定分隔符}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<li><label><input type="radio" name="search" value="2"{if $rs.search == 2} checked{/if} onclick="search_set(2)" />{lang支援搜尋}</label></li>
			<li><label><input type="radio" name="search" value="0"{if !$rs.search} checked{/if} onclick="search_set(0)" />{lang不支援搜尋}</label></li>
			<li id="search_separator_html" {if !$rs.search || $rs.search != 3}style="display:none"{/if}><input type="text" name="search_separator" id="search_separator" class="short" value="{$rs.search_separator}" placeholder="{lang分隔符}" /></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
</form>
<script type="text/javascript">
$(document).ready(function(){
	_phpok_form_opt("{$rs.form_type}","form_type_ext",'{$id}','module');
});
</script>
<!-- include tpl=foot_open -->
