<!-- include tpl=head_open -->
<form method="post" id="module_layout_save" onsubmit="return false">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="table">
	<div class="title">
		{lang後臺欄位佈局：}
		<span class="note">{lang在這裡設定要顯示的欄位屬性}</span>
	</div>
	<div class="content">
		<ul class="layout">
			<!-- if !$rs.mtype -->
			<li><label><input type="checkbox" name="layout[]" value="hits"{if in_array("hits",$layout)} checked{/if} />{lang檢視次數}</label></li>
			<li><label><input type="checkbox" name="layout[]" value="dateline"{if in_array("dateline",$layout)} checked{/if} />{lang釋出時間}</label></li>
			<li><label><input type="checkbox" name="layout[]" value="user_id"{if in_array("user_id",$layout)} checked{/if} />{lang會員賬號}</label></li>
			<!-- /if -->
			<!-- loop from=$used_list key=$key value=$value -->
			<li><label><input type="checkbox" name="layout[]" id="layout_{$value.identifier}" value="{$value.identifier}"{if in_array($value[identifier],$layout)} checked{/if} />{$value.title}</label></li>
			<!-- /loop -->
		</ul>
	</div>
</div>
</form>
<!-- include tpl=foot_open -->