<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang表單選項}
		<div class="layui-btn-group fr">
			<input type="button" value="{lang新增新組}" onclick="$.admin_opt.group_add()" class="layui-btn layui-btn-sm" />
			<input type="button" value="{lang匯入專案}" onclick="$.admin_opt.opt_import()" class="layui-btn layui-btn-sm" />
		</div>
	</div>
	<div class="layui-card-body">
		<table lay-even class="layui-table">
		<thead>
		<tr>
			<th width="30">ID</th>
			<th>{lang名稱}</th>
			<th><i class="layui-icon layui-tips" lay-tips="{lang僅限使用者自定義欄位使用多選時有效，留空使用英文豎線}">&#xe702;</i> {lang連字元}</th>
			<th></th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<tr>
			<td>{$value.id}</td>
			<td>{$value.title}</td>
			<td><!-- if $value.link_symbol -->{$value.link_symbol}<!-- /if --></td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang內容}" onclick="$.win('{lang內容}_{$value.title}','{url ctrl=opt func=list group_id=$value.id/}');" class="layui-btn  layui-btn-sm" />
					<!-- if $popedom.set -->
					<input type="button" value="{lang匯入}" onclick="$.admin_opt.opt_import('{$value.id}')" class="layui-btn  layui-btn-sm" />
					<!-- if $value._export --><input type="button" value="{lang匯出}" onclick="$.admin_opt.opt_export('{$value.id}',true)" class="layui-btn  layui-btn-sm" /><!-- /if -->
					<input type="button" value="{lang編輯}" onclick="$.admin_opt.group_edit('{$value.id}','{$value.title}')" class="layui-btn  layui-btn-sm" />
					<input type="button" value="{lang刪除}" onclick="$.admin_opt.group_delete('{$value.id}','{$value.title}')" class="layui-btn  layui-btn-sm" />
					<!-- /if -->
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->