<!-- include tpl=head_open -->
<script type="text/javascript">
function save()
{
	if(typeof(CKEDITOR) != "undefined"){
		for(var i in CKEDITOR.instances){
			CKEDITOR.instances[i].updateElement();
		}
	}
	var opener = $.dialog.opener;
	$("#post_save").ajaxSubmit({
		'url':get_url('opt','group_save'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status){
				var tip = ($("#id").val() > 0) ? '{lang組資訊修改成功}' : '{lang組資訊新增成功}';
				$.dialog.alert(tip,function(){
					opener.$.phpok.reload();
				},'succeed');
				return true;
			}
			$.dialog.alert(rs.info);
			return false;
		}
	});
}
</script>
<form method="post" id="post_save">
<input type="hidden" name="id" id="id" value="{$id}" />
<div class="table">
	<div class="title">
		{lang名稱：}<span class="note">{lang請填寫選項組名稱}</span>
	</div>
	<div class="content">
		<input type="text" name="title" id="title" value="{$rs.title}" class="default" />
	</div>
</div>
<div class="table">
	<div class="title">
		分割符：<span class="note">僅限組有聯動陣列時有效，留空時使用英文豎線表示，一經設定請不要輕易改動，否則會解析錯誤</span>
	</div>
	<div class="content">
		<input type="text" name="link_symbol" id="link_symbol" value="{$rs.link_symbol}" class="short" />
	</div>
</div>
</form>
<!-- include tpl=foot_open -->