<!-- include tpl=head_lay nopadding=true -->
<div class="layui-card">
	<div class="layui-card-body">
		<table class="layui-table">
		<tr>
			<td width="20%" align="right" height="25">訂單編號：</td>
			<td width="30%">{$rs.sn}</td>
			<td width="20%" align="right">下單時間：</td>
			<td>{func time_format $rs.addtime}</td>
		</tr>
		<tr>
			<td align="right" height="25">總金額：</td>
			<td class="red">{func price_format $rs.price $rs.currency_id $rs.currency_id}</td>
			<td align="right">訂單狀態：</td>
			<td class="darkblue">{$rs.status_title}</td>
		</tr>
		<tr>
			<td align="right" height="25">已支付：</td>
			<td class="darkblue">{func price_format $paid_price $rs.currency_id $rs.currency_id}</td>
			<td align="right">未支付：</td>
			<td class="red">{func price_format $unpaid_price $rs.currency_id $rs.currency_id}</td>
		</tr>
		<tr>
			<td align="right" height="25">{lang郵箱：}</td>
			<td class="darkblue"><span>{$rs.email}</span></td>
			<td align="right">{lang手機：}</td>
			<td class="darkblue"><span>{$rs.mobile}</span></td>
		</tr>
		<!-- if $rs.ext -->
		<tr>
			<!-- loop from=$rs.ext key=$key value=$value id=$tmpid -->
			<td align="right" height="25">{$key}：</td>
			<td{if $tmpid.total%2 != '' && $tmpid.num == $tmpid.total} colspan="3"{/if} style="line-height:25px;">{$value}</td>
				<!-- if $tmpid.num%2 == '' && $tmpid.num != $tmpid.total -->
				</tr><tr>
				<!-- /if -->
			<!-- /loop -->
		</tr>
		<!-- /if -->
		<!-- if $user -->
		<tr>
			<td class="darkblue" style="line-height:25px;text-align:right;">會員：</td>
			<td class="darkblue" colspan="3" style="line-height:25px;">{$user.user}
				<!-- if $user.mobile -->{lang，}{lang手機號：}{$user.mobile}<!-- /if -->
				<!-- if $user.email -->{lang，}{lang郵箱：}{$user.email}<!-- /if -->
				，註冊時間：{func time_format $user.regtime}
			</td>
		</tr>
		<!-- /if -->
		<!-- if $rs.note -->
		<tr>
			<td style="line-height:25px;text-align:right">備註：</td>
			<td colspan="3">{$rs.note}</td>
		</tr>
		<!-- /if -->
		</table>
		<table class="layui-table">
		<thead>
		<tr>
			<th width="120">{lang產品圖片}</th>
			<th>{lang產品名稱}</th>
			<th>{lang產品價格}</th>
			<th>{lang數量}</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td class="center"><img src="{$value.thumb ? $value.thumb : 'images/picture_default.png'}" width="80px" height="80px" border="0" /></td>
			<td>
				<div style="font-size:14px;">{$value.title}</div>
				<!-- loop from=$value.ext key=$k value=$v id=$tmpid2 -->
				<div class="gray">{$v.title}：{$v.content}</div>
				<!-- /loop -->
				<!-- if $value.weight --><div class="gray">{lang重量：}{$value.weight}Kg</div><!-- /if -->
				<!-- if $value.volume --><div class="gray">{lang體積：}{$value.volume}M<sup>3</sup></div><!-- /if -->
				<!-- if $value.note --><div class="gray">{lang備註：}{$value.note}</div><!-- /if -->
			</td>
			<td>{func price_format $value.price $rs.currency_id $rs.currency_id}</td>
			<td>{$value.qty} {$value.unit}</td>
		</tr>
		<!-- /loop -->
		</table>
		<!-- if $paylist -->
		<table class="layui-table">
		<thead>
		<tr>
			<th class="lft">支付方法</th>
			<th class="lft">金額</th>
			<th>時間</th>
			<th>其他</th>
		</tr>
		</thead>
		<!-- loop from=$paylist key=$key value=$value id=$tmpid -->
		<tr>
			<td>{$value.title}</td>
			<td>{func price_format $value.price $rs.currency_id $rs.currency_id}</td>
			<td class="center">
				<!-- if $value.startdate --><div>始：{func time_format $value.startdate}</div><!-- /if -->
				<!-- if $value.dateline --><div>結：{func time_format $value.dateline}</div><!-- /if -->
			</td>
			<td>
				<!-- if is_array($value.ext) -->
				<!-- loop from=$value.ext key=$k value=$v id=$tmpid2 -->
				<div>{$k}：{$v}</div>
				<!-- /loop -->
				<!-- else -->
				{$value.ext}
				<!-- /if -->
			</td>
		</tr>
		<!-- /loop -->
		</table>
		<!-- /if -->
		<!-- if $loglist -->
		<table class="layui-table">
		<thead>
		<tr>
			<th>日誌時間</th>
			<th class="lft">日誌內容</th>
			<th>操作人</th>
		</tr>
		</thead>
		<!-- loop from=$loglist key=$key value=$value -->
		<tr>
			<td class="center">{func date "Y-m-d H:i:s" $value.addtime}</td>
			<td>{$value.note}</td>
			<td class="center">{$value.who}</td>
		</tr>
		<!-- /loop -->
		</table>
		<!-- /if -->
		<div>
			<input id="order_url" class="layui-input" value="{$sys.url}{$sys.www_file}?{$sys.ctrl_id}=order&{$sys.func_id}=info&sn={$rs.sn}&passwd={$rs.passwd}" />
			<div class="layui-btn-group" style="margin-top:10px;">
				<input type="button" value="{lang複製}" data-clipboard-text="{$sys.url}{$sys.www_file}?{$sys.ctrl_id}=order&{$sys.func_id}=info&sn={$rs.sn}&passwd={$rs.passwd}" class="layui-btn phpok-copy" />
				<input type="button" value="{lang訪問}" onclick="window.open($('#order_url').val())" class="layui-btn" />
			</div>
		</div>
	</div>
</div>
<!-- include tpl=foot_lay -->