<!-- include tpl=head_lay -->
<div class="layui-card{if !$keywords && !$status && !$date_start && !$date_stop && !$price_min && !$price_max && !$paytype} hide{/if}" id="search_html">
	<div class="layui-card-header">
		{lang搜尋}
	</div>
	<div class="layui-card-body">
		<form method="post" class="layui-form" action="{func admin_url order}">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">{lang訂單狀態}</label>
				<div class="layui-input-inline">
					<select name="status">
						<option value="">{lang訂單狀態…}</option>
						<!-- loop from=$statuslist key=$key value=$value id=$tmpid -->
						<option value="{$key}"{if $key == $status} selected{/if}>{$value}</option>
						<!-- /loop -->
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">{lang時間}</label>
				<div class="layui-input-inline" style="width: 120px;">
					<input type="text" name="date_start" value="{$date_start}" id="date_start" placeholder="{lang開始時間}" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid">-</div>
				<div class="layui-input-inline" style="width: 120px;">
					<input type="text" name="date_stop" value="{$date_stop}" id="date_stop" placeholder="{lang結束時間}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">{lang價格}</label>
				<div class="layui-input-inline" style="width: 90px;">
					<input type="text" name="price_min" value="{$price_min}" id="price_min" placeholder="{lang最低價格}" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-mid">-</div>
				<div class="layui-input-inline" style="width: 90px;">
					<input type="text" name="price_max" value="{$price_max}" id="price_max" placeholder="{lang最高價格}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<!-- if $paylist -->
			<div class="layui-inline">
				<label class="layui-form-label">{lang支付方式}</label>
				<div class="layui-input-inline">
					<select name="paytype" >
						<option value="">{lang支付方式…}</option>
						<!-- loop from=$paylist key=$key value=$value id=$tmpid -->
						<optgroup label="{$value.title}{if $value.wap}_{lang手機端}{/if}">
							<!-- loop from=$value.rslist key=$k value=$v id=$idxx -->
							<option value="{$v.id}"{if $paytype == $v.id} selected{/if}>{$v.title}<!-- if $v.wap -->_{lang手機端}<!-- /if --></option>
							<!-- /loop -->
						</optgroup>
						<!-- /loop -->
					</select>
				</div>
			</div>
			<!-- /if -->
			<div class="layui-inline">
				<label class="layui-form-label">{lang檢索型別}</label>
				<div class="layui-input-inline">
					<select name="keytype" onchange="update_keywords(this.value)">
						<option value="">{lang檢索型別…}</option>
						<option value="sn"{if $keytype == 'sn'} selected{/if}>{lang訂單編號}</option>
						<option value="user"{if $keytype == 'user'} selected{/if}>{lang會員賬號}</option>
						<option value="email"{if $keytype == 'email'} selected{/if}>{lang訂單郵箱}</option>
						<option value="protitle"{if $keytype == 'protitle'} selected{/if}>{lang產品名稱}</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">{lang關鍵字}</label>
				<div class="layui-input-inline" style="width: 300px;">
					<input type="text" id="keywords" name="keywords" class="layui-input" value="{$keywords}"{if $keytype == 'time'} onfocus="laydate()"{/if} />
				</div>
			</div>
			<div class="layui-inline">
				<button class="layui-btn layui-btn-sm" lay-submit>
					<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
					{lang搜尋}
				</button>
				<a href="{url ctrl=order/}" class="layui-btn layui-btn-sm layui-btn-danger">
					{lang取消搜尋}
				</a>
			</div>
		</div>
		</form>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">
		{lang列表}
		<div class="layui-btn-group fr">
			<input type="button" value="{lang搜尋}" onclick="$.admin.hide_show('search_html')" class="layui-btn layui-btn-sm" />
			<input type="button" value="{lang建立新訂單}" onclick="$.win('{lang建立新訂單}','{url ctrl=order func=set/}')" class="layui-btn layui-btn-sm" />
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
		<thead>
		<tr>
			<th></th>
			<th colspan="2">{lang訂單ID/訂單號}</th>
			<th>{lang會員}</th>
			<th>{lang金額}</th>
			<th>{lang已付}</th>
			<th>{lang未付}</th>
			<th>{lang狀態}</th>
			<th>{lang支付方式}</th>
			<th>{lang下單時間}</th>
			<th>{lang操作}</th>
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr id="edit_{$value.id}">
			<td align="center" data-id="{$value.id}" data-sn="{$value.sn}" data-unpaid="{$value.unpaid}" data-status="{$value.status}"><input type="checkbox" value="{$value.id}" id="order_id_{$value.id}" lay-ignore /></td>
			<td><label for="order_id_{$value.id}">{$value.id}</label></td>
			<td><label for="order_id_{$value.id}">{$value.sn}</label></td>
			<td><!-- if $value.user -->{$value.user}<!-- else --><span class="red">{lang訪客}</span><!-- /if --></td>
			<td>{func price_format $value.price $value.currency_id $value.currency_id}</td>
			<td>{func price_format $value.paid $value.currency_id $value.currency_id}</td>
			<td{if $value.unpaid} class="red"{/if} data-unpaid-text="{$value.id}"><!-- if $value.unpaid -->{func price_format $value.unpaid $value.currency_id $value.currency_id}<!-- /if --></td>
			<td class="status">{$value.status_title}</td>
			<td><!-- if $value.pay_title -->{$value.pay_title}<!-- else --><span class="gray">{lang未設定}</span><!-- /if --></td>
			<td>{func time_format $value.addtime}</td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang檢視}" onclick="$.admin_order.show('{$value.id}')" class="layui-btn  layui-btn-xs" />
					<!-- if $popedom.modify -->
					<input type="button" value="{lang編輯}" onclick="$.win('{lang編輯訂單}_#{$value.id}','{url ctrl=order func=set id=$value.id/}')" class="layui-btn  layui-btn-xs" />	
					<!-- /if -->
					<!-- if $popedom.delete -->
					<input type="button" value="{lang刪除}" onclick="$.admin_order.del({$value.id},'{$value.sn}')" class="layui-btn  layui-btn-xs layui-btn-danger" />
					<!-- /if -->
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</table>
		<ul class="layout">
			<li>
				<div class="layui-btn-group">
					<input type="button" value="{lang全選}" class="layui-btn layui-btn-primary layui-btn-sm" onclick="$.input.checkbox_all()" />
					<input type="button" value="{lang全不選}" class="layui-btn layui-btn-primary layui-btn-sm" onclick="$.input.checkbox_none()" />
					<input type="button" value="{lang反選}" class="layui-btn layui-btn-primary layui-btn-sm" onclick="$.input.checkbox_anti()" />
				</div>
			</li>
			<li>
				<div class="layui-btn-group">
					<input type="button" value="{lang付款}" onclick="$.admin_order.payment()" class="layui-btn  layui-btn-sm" />
					<input type="button" value="{lang物流}" onclick="$.admin_order.express()" class="layui-btn  layui-btn-sm" />
					<input type="button" value="{lang取消}" onclick="$.admin_order.cancel()" class="layui-btn  layui-btn-sm" />
					<input type="button" value="{lang結束}" onclick="$.admin_order.stop()" class="layui-btn  layui-btn-sm" />
					<input type="button" value="{lang完成}" onclick="$.admin_order.finish()" class="layui-btn  layui-btn-sm" />
				</div>
			</li>
		</ul>
		<div align="center"><!-- include tpl=pagelist --></div>
	</div>
</div>
<!-- include tpl=foot_lay -->