<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-body">
		<form method="post" id="post_save" onsubmit="return $.admin_payment.group_save()" class="layui-form">
		<!-- if $id -->
		<input type="hidden" name="id" id="id" value="{$id}" />
		<!-- /if -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang組名稱}
			</label>
			<div class="layui-input-block">
				<input type="text" id="title" name="title" value="{$rs.title}" class="layui-input" >
			</div>
			<div class="layui-input-block mtop">{lang設定支付組的名稱，請根據您的站點需求設定相應的組名稱}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang禁用組後，其組下列的支付方案將不生效}">&#xe702;</i>
				{lang狀態}
			</label>
			<div class="layui-input-block">
				<input type="radio" name="status" value="1" {if $rs.status} checked{/if} title="{lang啟用}">
				<input type="radio" name="status" value="0" {if !$rs.status} checked{/if} title="{lang禁用}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang排序}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="taxis" name="taxis" value="{$id ? $rs.taxis : 255}" class="layui-input" >
			</div>
			<div class="layui-input-inline auto gray lh38">{lang範圍控制在0-255，值越小越往前排，預設為255}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang啟用預設組功能後，其他其將顯示為可選型別}">&#xe702;</i>
				{lang預設組}
			</label>
			<div class="layui-input-block">
				<input type="radio" name="is_default" value="1"{if $rs.is_default} checked{/if} title="{lang啟用}">
				<input type="radio" name="is_default" value="0"{if !$rs.is_default} checked{/if} title="{lang禁用}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<i class="layui-icon layui-tips" lay-tips="{lang指定支付組使用範圍，手機或PC}">&#xe702;</i>
				{lang範圍}
			</label>
			<div class="layui-input-block">
				<input type="radio" name="is_wap" value="1"{if $rs.is_wap} checked{/if} title="{lang手機端}">
				<input type="radio" name="is_wap" value="0"{if !$rs.is_wap} checked{/if} title="{lang電腦端}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">&nbsp;</label>
			<div class="layui-input-block">
				<input type="submit" class="layui-btn" value="{lang提交儲存}" />
				<input type="button" value="{lang返回上一步}" onclick="$.phpok.go('{url ctrl=payment/}')" class="layui-btn layui-btn-danger am-fr" />
			</div>
		</div>
		</form>
	</div>
</div>
<!-- include tpl=foot_lay -->