<!-- inc:head -->
<script type="text/javascript" src="{func include_js plugin.js}"></script>
<div class="tips">
	您當前的位置：
	<a href="{echo admin_url('plugin')}">外掛中心</a>
	&raquo; 安裝外掛
</div>

<form method="post" action="{echo admin_url('plugin','install_save')}">
<input type="hidden" id="id" name="id" value="{$id}" />
<div class="table">
	<div class="title">
		外掛名稱：
		<span class="note">設定外掛的名稱，您可以使用您熟悉的語言來設定！</span>
	</div>
	<div class="content"><input type="text" id="title" name="title" class="long" value="{$rs.title}" /></div>
</div>

<div class="table">
	<div class="title">
		備註：
		<span class="note">簡要說明此外掛是做什麼的！</span>
	</div>
	<div class="content"><input type="text" id="note" name="note" class="long" value="{$rs.note ? $rs.note : $rs.desc}" /></div>
</div>

<div class="table">
	<div class="title">
		開發者：
		<span class="note">填寫外掛開發者資訊，可以是姓名或郵箱或官方網站</span>
	</div>
	<div class="content">
		<input type="text" id="author" name="author" class="long" value="{$rs.author}" />
	</div>
</div>
<div class="table">
	<div class="title">
		外掛版本：
		<span class="note">設定外掛版本，此項請儘量不要手工修改此版本資訊，用於檢測外掛是否需要升級</span>
	</div>
	<div class="content">
		<input type="text" id="version" name="version" class="default" value="{$rs.version}" />
	</div>
</div>


{$plugin_html}

<div class="table">
	<div class="title">
		排序：
		<span class="note">自定義外掛排序，值越小越往前靠，最大不超過255</span>
	</div>
	<div class="content">
		<input type="text" id="taxis" name="taxis" class="short" value="{$rs.taxis ? $rs.taxis : 255}" />
	</div>
</div>

<div class="submit-info"><input type="submit" value="{lang提交}" class="submit2" /></div>
</form>

<!-- inc:foot -->
