<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header ">
		{lang外掛快捷圖示設定}
		<div class="fr">
		<button class="layui-btn layui-btn-sm" onclick="$.admin_plugin.icon('{$id}','','{lang新增圖示}');">
			<i class="layui-icon">&#xe608;</i> {lang新增圖示}
		</button>
		</div>
	</div>

	<div class="layui-card-body">

		<div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
			
		</div>

		<table class="layui-table">
			<thead>
			<tr>
				<th>標題</th>
				<th>顯示區域</th>
				<th>執行方法</th>
				<th>排序</th>
				<th width="150px">操作</th>
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$rslist key=$key value=$value id=$idx -->
			<tr>
				<td>{$value.title}</td>
				<td>{$value.position}</td>
				<td>{$value.efunc_title}<!-- if $value.efunc_title != $value.efunc --> / {$value.efunc}<!-- /if --></td>
				<td>{$value.taxis}</td>
				<td>
					<div class="layui-btn-group">
						<input type="button" value="{lang修改}" onclick="$.admin_plugin.icon('{$id}','{$value.id}','{lang修改}')" class="layui-btn layui-btn-sm" />
						<input type="button" value="{lang刪除}" onclick="$.admin_plugin.icon_del('{$id}','{$value.id}','{$value.title}')" class="layui-btn layui-btn-sm layui-btn-danger" />
					</div>
				</td>
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>

</div>
<!-- include tpl=foot_lay -->