<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang專案}
		<!-- if $popedom.set -->
		<div class="layui-btn-group fr">
			<input type="button" value="{lang新增專案}" onclick="$.win('{lang新增專案}','{url ctrl=project func=set/}')" class="layui-btn layui-btn-sm" />
			<!-- if $session.adm_develop -->
			<input type="button" onclick="$.admin_project.import_xml()" value="{lang專案匯入}" class="layui-btn layui-btn-sm" />
			<!-- /if -->
		</div>
		<!-- /if -->
	</div>
	<div class="layui-card-body">
		<table class="layui-table" lay-size="sm">
		<thead>
		<tr>
			<!-- if $popedom.set -->
			<th width="30px"></th>
			<!-- /if -->
			<th width="70px" class="center">ID</th>
			<th width="30px">&nbsp;</th>
			<th>{lang專案名稱}</th>
			<th>{lang標識串}</th>
			<th>{lang模組}</th>
			<th width="65" class="center">{lang排序}</th>
			<!-- if $popedom.set -->
			<th width="220px">&nbsp;</th>
			<!-- /if -->
		</tr>
		</thead>
		<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
		<tr id="project_{$value.id}">
			<!-- if $popedom.set -->
			<td class="center"><input type="checkbox" value="{$value.id}" data-name="id" id="id_{$value.id}" data-title="{$value.title}" /></td>
			<!-- /if -->
			<td class="center gray" height="24px">{$value.id}</td>
			<td class="center"><span class="status{$value.status}" id="status_{$value.id}" {if $popedom.set}onclick="$.admin_project.set_status({$value.id})"{else} style="cursor:default"{/if} value="{$value.status}"></span></td>
			<td><label for="id_{$value.id}">{$value.space}{$value.title}<!-- if $value.nick_title --><span class="gray i"> ({$value.nick_title})</span><!-- /if --><!-- if $value.hidden --><span class="red i">{lang（隱藏）}</span><!-- /if --></label></td>
			<td>{$value.identifier}</td>
			<td>{$value.project_module_title ? $value.project_module_title : '-'}</td>
			<td><div class="gray i hand center" title="{lang點選調整排序}" name="taxis" data="{$value.id}">{$value.taxis}</div></td>
			<!-- if $popedom.set -->
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang編輯}" onclick="$.win('{lang編輯}_#{$value.id}','{url ctrl=project func=set id=$value.id/}')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang刪除}" onclick="$.admin_project.del('{$value.id}')" class="layui-btn layui-btn-sm layui-btn-danger" />
					<!-- if !$value.parent_id -->
					<input type="button" value="{lang新增子項}" class="layui-btn layui-btn-sm" onclick="$.win('{lang新增子項}_#{$value.id}','{url ctrl=project func=set pid=$value.id/}')" />
					<!-- /if -->
				</div>
			</td>
			<!-- /if -->
		</tr>
		<!-- /loop -->
		</table>
		<!-- if $popedom.set -->
		<ul class="layout">
			<li>
				<div class="layui-btn-group">
					<input type="button" value="{lang全選}" class="layui-btn layui-btn-sm" onclick="$.input.checkbox_all()" />
					<input type="button" value="{lang全不選}" class="layui-btn layui-btn-sm" onclick="$.input.checkbox_none()" />
					<input type="button" value="{lang反選}" class="layui-btn layui-btn-sm" onclick="$.input.checkbox_anti()" />
				</div>
			</li>
			<li>
				<div class="layui-btn-group">
					<input type="button" value="{lang禁用}" onclick="$.admin_project.set_lock(0)" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang啟用}" onclick="$.admin_project.set_lock(1)" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang顯示}" onclick="$.admin_project.set_hidden(0)" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang隱藏}" onclick="$.admin_project.set_hidden(1)" class="layui-btn layui-btn-sm" />
				</div>
			</li>
			
			<!-- if $session.adm_develop -->
			<li>
				<div class="layui-btn-group">
					<input type="button" value="{lang擴充套件欄位}" onclick="$.admin_project.extinfo()" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang複製}" onclick="$.admin_project.copy()" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang匯出}" onclick="$.admin_project.export()" class="layui-btn layui-btn-sm" />
				</div>
			</li>
			<!-- /if -->
		</ul>
		<!-- /if -->
	</div>
</div>

<!-- include tpl=foot_lay -->