<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang文庫}
		<!-- if $popedom.set -->
		<div class="layui-btn-group fr">
			<input style="display:none" type="button" value="{lang新增文庫}" onclick="$.win('{lang新增文庫}','{url ctrl=newproject func=set/}')" class="layui-btn layui-btn-sm" />
			<!-- if $session.adm_develop -->
			<input type="button" onclick="$.admin_project.import_xml()" value="{lang文庫匯入}" class="layui-btn layui-btn-sm" />
			<!-- /if -->
		</div>
		<!-- /if -->
	</div>
	<div class="layui-card-body">
		<table class="layui-table" lay-size="sm">
			<thead>
			<tr>
				<!-- if $popedom.set -->
				<th width="30px"></th>
				<!-- /if -->
				<th width="70px" class="center">ID</th>
				<th width="30px">&nbsp;</th>
				<th>{lang文庫名稱}</th>
				<th>圖片</th>
				<th width="65" class="center">{lang排序}</th>
				<!-- if $popedom.set -->
				<th width="260px">&nbsp;</th>
				<!-- /if -->
			</tr>
			</thead>
			<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
			{if $value.project_module_title == '書籍'}<?php continue;?>{/if}
			<tr id="project_{$value.id}">
				<!-- if $popedom.set -->
				<td class="center"><input type="checkbox" value="{$value.id}" data-name="id" id="id_{$value.id}" data-title="{$value.title}" /></td>
				<!-- /if -->
				<td class="center gray" height="24px">{$value.id}</td>
				<td class="center"><span class="status{$value.status}" id="status_{$value.id}" {if $popedom.set}onclick="$.admin_project.set_status({$value.id})"{else} style="cursor:default"{/if} value="{$value.status}"></span></td>

				<td><label for="id_{$value.id}">{$value.space}{$value.title}<!-- if $value.nick_title --><span class="gray i"> ({$value.nick_title})</span><!-- /if --><!-- if $value.hidden --><span class="red i">{lang（隱藏）}</span><!-- /if --></label></td>

				<td>{if $value.pic}<a href="{$value.pic}" target="_blank"><img src="{$value.pic}" width="28px" height="28px" border="0" class="hand" style="border:1px solid #dedede;padding:1px;" /></a>{/if}</td>

				<td><div class="gray i hand center" title="{lang點選調整排序}" name="taxis" data="{$value.id}">{$value.taxis}</div></td>
				<!-- if $popedom.set -->
				<td>
					<div class="layui-btn-group">
						<input type="button" value="{lang編輯}" onclick="$.win('{lang編輯}_#{$value.id}','{url ctrl=newproject func=set id=$value.id/}')" class="layui-btn layui-btn-sm" />
						<input type="button" value="{lang刪除}" onclick="$.admin_project.del('{$value.id}')" class="layui-btn layui-btn-sm layui-btn-danger" />
						<!-- if !$value.parent_id || $value.module == 8 || $value.module == 10 -->
						<input type="button" value="{lang欄位管理}" onclick="$.win('{lang欄位管理}_{$value.title}_#{$value.module}','{url ctrl=newmodule func=fields id=$value.module/}');" class="layui-btn layui-btn-sm"/>
						<!-- /if -->
						<!-- if !$value.module || !$value.parent_id -->
						<input type="button" value="{lang新增子項}" class="layui-btn layui-btn-sm" onclick="$.win('{lang新增子項}_#{$value.id}','{url ctrl=newproject func=set pid=$value.id/}')" />
						<!-- /if -->
					</div>
				</td>
				<!-- /if -->
			</tr>
			<!-- /loop -->
		</table>
		<!-- if $popedom.set -->
		<ul class="layout">
			<li>
				<div class="layui-btn-group">
					<input type="button" value="{lang全選}" class="layui-btn layui-btn-sm" onclick="$.input.checkbox_all()" />
					<input type="button" value="{lang全不選}" class="layui-btn layui-btn-sm" onclick="$.input.checkbox_none()" />
					<input type="button" value="{lang反選}" class="layui-btn layui-btn-sm" onclick="$.input.checkbox_anti()" />
				</div>
			</li>
			<li>
				<div class="layui-btn-group">
					<input type="button" value="{lang禁用}" onclick="$.admin_project.set_lock(0)" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang啟用}" onclick="$.admin_project.set_lock(1)" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang顯示}" onclick="$.admin_project.set_hidden(0)" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang隱藏}" onclick="$.admin_project.set_hidden(1)" class="layui-btn layui-btn-sm" />
				</div>
			</li>

			<!-- if $session.adm_develop -->
			<li>
				<div class="layui-btn-group">
					<input type="button" value="{lang擴充套件欄位}" onclick="$.admin_project.extinfo()" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang復制}" onclick="$.admin_project.copy()" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang匯出}" onclick="$.admin_project.export()" class="layui-btn layui-btn-sm" />
				</div>
			</li>
			<!-- /if -->
		</ul>
		<!-- /if -->
	</div>
</div>

<!-- include tpl=foot_lay -->
