<!-- include tpl=head_lay -->
<form method="post" id="{$ext_module}" class="layui-form" onsubmit="return $.admin_project.save('{$ext_module}')">
<!-- if $id --><input type="hidden" id="id" name="id" value="{$id}" /><!-- /if -->
<div class="layui-card">
	<div class="layui-card-header">{lang基本信息}</div>
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">{lang名称}</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="title" name="title" class="layui-input" value="{$rs.title}" />
			</div>
			<div class="layui-input-inline auto gray">{lang设置名称，该名称将在网站前台导航中使用}</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">{lang排序}</label>
			<div class="layui-input-inline">
				<input type="text" id="taxis" name="taxis" class="layui-input" value="{$rs.taxis ? $rs.taxis : '255'}" />
			</div>
			<div class="layui-input-inline auto gray">{lang自定义排序，值越小越往前靠}</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">{lang父级栏目}</label>
			<div class="layui-input-inline default-auto">
				<select id="parent_id" name="parent_id">
				<option value="0">{lang设为父栏目}</option>
				<!-- loop from=$parent_list key=$key value=$value -->
				<!-- if $rs.id != $value.id -->
				<option value="{$value.id}"{if $rs.parent_id == $value.id} selected{/if}>{$value.title}</option>
				<!-- /if -->
				<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray">{lang实现父子栏目可以实现数据交叉使用}</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-inline default-auto">
				<input type="hidden" id="identifier" name="identifier" class="layui-input" value="{$rs.identifier}" />
                {if !$rs.identifier}
				<script>
					$(function () {
                        $.admin.rand('identifier')
                    })
					{/if}
				</script>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label title">{lang绑定模块}</label>
			<div class="layui-input-inline auto">
				<select id="module" name="module" onchange="$.admin_project.module_change(this)"lay-ignore>
				<option value="0">{lang不关联模块}</option>
				<!-- loop from=$module_list key=$key value=$value id=module_list_id -->
				<option value="{$value.id}"{if $value.id == $rs.module} selected{/if} data-mtype="{$value.mtype}">{$value.title}</option>
				<!-- /loop -->
				</select>
			</div>
			<div class="layui-input-inline auto gray">{lang实现类似新闻，产品等多条项目信息，绑定成功后建议不要修改，以防止数据混乱！}</div>
		</div>
		<div id="module_set2" class="hidden">
			<div class="layui-form-item">
				<label class="layui-form-label">{lang默认主题数}</label>
				<div class="layui-input-inline default-auto">
					<input type="text" id="psize2" name="psize2" value="{$rs.psize ? $rs.psize : 30}" class="layui-input" />
				</div>
				<div class="layui-input-inline auto gray">{lang设置每页默认的主题数量}</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">
					{lang数据排序}
				</label>
				<div class="layui-input-block">
					<ul class="layout">
						<li class="long"><input type="text" id="orderby2" name="orderby2" class="layui-input" value="{$rs.orderby ? $rs.orderby : 'id DESC'}" /></li>
						<li><input type="button" value="{lang清空}" class="layui-btn layui-btn-danger" onclick="$('input[name=orderby2]').val('')" /></li>
					</ul>
				</div>
				<div class="layui-input-block mtop">
					<div class="layui-btn-group" id="tmp_orderby_btn2">
						<input type="button" value="ID" onclick="phpok_admin_orderby('orderby2','id')" class="layui-btn layui-btn-sm" />
					</div>
				</div>
				<div class="layui-input-block">{lang设置好默认排序，有利于网站的管理（前后台一致）}</div>
			</div>
		</div>

		<div id="module_set" class="hidden">
			<div class="layui-form-item">
				<label class="layui-form-label">{lang主题别名}</label>
				<div class="layui-input-inline default-auto">
					<input type="text" id="alias_title" name="alias_title" class="layui-input" value="{$rs.alias_title}" />
				</div>
				<div class="layui-input-inline auto gray">{lang在使用模块时，会有一个必填选项，即主题，您可在这里设置别名}</div>
			</div>
			<div class="layui-form-item" style="display: none">
				<label class="layui-form-label">{lang主题备注}</label>
				<div class="layui-input-inline long">
					<input type="text" id="alias_note" name="alias_note" class="layui-input" value="{$rs.alias_note}" />
				</div>
				<div class="layui-input-inline auto gray">{lang针对主题的别名设置相应的备注信息}</div>
			</div>
			<div class="layui-form-item" style="display: none">
				<div id="ext_help" class="hide">
					<table class="layui-table">
						<thead>
						<tr>
							<th>扩展项</th>
							<th>备注</th>
						</tr>
						</thead>
						<tr>
							<td>{lang主题属性}</td>
							<td>{lang相当于给主题增加标签，如精华，推荐，热荐等}</td>
						</tr>
						<tr>
							<td>{lang搜索}</td>
							<td>{lang勾选此项后，该项目在前台将支持搜索}</td>
						</tr>
						<tr>
							<td>{lang下级主题}</td>
							<td>{lang启用此项，主题将支持二级，多用于二级导航}</td>
						</tr>
						<tr>
							<td>{lang发布}</td>
							<td>{lang勾选此项，被授权的用户可以在前台有发布权限}</td>
						</tr>
						<tr>
							<td>{lang评论}</td>
							<td>{lang即回复功能，勾选后被授权的用户将支持回复，静态页无效}</td>
						</tr>
						<!-- if $config.biz_status -->
						<tr>
							<td>{lang电子商务}</td>
							<td>{lang启用此项，该主题将支持交易功能}</td>
						</tr>
						<!-- /if -->
					</table>

				</div>
				<label class="layui-form-label"><i class="layui-icon hand" onclick="$.admin_project.ext_help()">&#xe702;</i> {lang扩展项}</label>
				<div class="layui-input-inline" style="width:80%;">
					<ul>
						<li class="layui-col-md3"><input type="checkbox" name="is_attr" title="{lang主题属性}" class="layui-tips" id="is_attr"{if $rs.is_attr} checked{/if} /></li>
						<li class="layui-col-md3"><input type="checkbox" name="is_search" title="{lang搜索}" id="is_search"{if $rs.is_search} checked{/if} /></li>
						<li class="layui-col-md3"><input type="checkbox" name="subtopics" title="{lang下级主题}" id="subtopics"{if $rs.subtopics} checked{/if} /></li>
						<li class="layui-col-md3"><input type="checkbox" name="post_status" title="{lang发布}" id="post_status"{if $rs.post_status} checked{/if} /></li>
						<li class="layui-col-md3"><input type="checkbox" name="comment_status" title="{lang评论}" id="comment_status"{if $rs.comment_status} checked{/if} /></li>
						<!-- if $config.biz_status -->
						<li class="layui-col-md3"><input type="checkbox" name="is_biz" title="{lang电子商务}" id="is_biz"{if $rs.is_biz} checked{/if} /></li>
						<!-- /if -->
					</ul>
				</div>
			</div>

			<div id="use_biz_setting"{if !$rs.is_biz || !$config.biz_status} style="display:none"{/if}>
				<div class="layui-form-item">
					<label class="layui-form-label">{lang货币默认类型}</label>
					<div class="layui-input-inline default-auto">
						<select name="currency_id" id="currency_id">
							<option value="">{lang请选择……}</option>
							<!-- loop from=$currency_list key=$key value=$value -->
							<option value="{$value.id}"{if $rs.currency_id == $value.id} selected{/if}>{$value.title}/{lang标识：}{$value.code}/{lang汇率：}{$value.val}</option>
							<!-- /loop -->
						</select>
					</div>
					<div class="layui-input-inline auto gray">{lang此项主要是方便后台管理员添加产品时，默认使用的货币}</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">{lang运费模板}</label>
					<div class="layui-input-inline default-auto">
						<select name="freight" id="freight">
							<option value="">{lang请选择运费计算方式……}</option>
							<!-- loop from=$freight key=$key value=$value -->
							<option value="{$value.id}"{if $rs.freight == $value.id} selected{/if}>{$value.title}</option>
							<!-- /loop -->
						</select>
					</div>
					<div class="layui-input-inline auto gray">{lang请选择这个项目的运费计算方式}</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">{lang电商属性}</label>
					<div class="layui-input-inline default-auto">
						<input type="radio" name="biz_attr" value="0"{if !$rs.biz_attr} checked{/if} title="{lang不使用}" />
						<input type="radio" name="biz_attr" value="1"{if $rs.biz_attr} checked{/if} title="{lang使用}" />
					</div>
					<div class="layui-input-inline auto gray">{lang启用此项后，将允许设定可选产品的一些属性，如颜色，款式，支持价格浮动}</div>
				</div>
			</div>

			<div id="email_set_post_status"{if !$rs.post_status} style="display:none"{/if}>
				<div class="layui-form-item">
					<label class="layui-form-label"><i class="layui-icon layui-tips" lay-tips="{lang发布通知管理员及会员的邮件模板}">&#xe702;</i> {lang发布模板}</label>
					<div class="layui-input-block">
						<select id="etpl_admin" name="etpl_admin">
							<option value="">{lang发布信息_管理员不通知}</option>
							<!-- loop from=$emailtpl key=$key value=$value id=$tmpid -->
							<option value="{$value.identifier}"{if $rs.etpl_admin == $value.identifier} selected{/if}>{lang发布信息_管理员模板}_{$value.title}_{$value.identifier}<!-- if $value.note -->_{$value.note}<!-- /if --></option>
							<!-- /loop -->
						</select>
					</div>
					<div class="layui-input-block" style="margin-top:10px;">
						<select id="etpl_user" name="etpl_user">
							<option value="">{lang发布信息_会员不通知}</option>
							<!-- loop from=$emailtpl key=$key value=$value id=$tmpid -->
							<option value="{$value.identifier}"{if $rs.etpl_user == $value.identifier} selected{/if}>{lang发布信息_会员模板}_{$value.title}_{$value.identifier}<!-- if $value.note -->_{$value.note}<!-- /if --></option>
							<!-- /loop -->
						</select>
					</div>
					<div class="layui-input-block gray">{lang通知管理员仅限启用【前台发布】后有效，通知会员仅限启用【前台发布】且已登录会员后有效}</div>
				</div>
			</div>

			<div id="email_set_comment_status"{if !$rs.comment_status} style="display:none"{/if}>
				<div class="layui-form-item">
					<label class="layui-form-label"><i class="layui-icon layui-tips" lay-tips="{lang评论通知管理员及会员的邮件模板}">&#xe702;</i> {lang评论模板}</label>
					<div class="layui-input-block">
						<select id="etpl_comment_admin" name="etpl_comment_admin">
							<option value="">{lang回复信息_管理员不通知}</option>
							<!-- loop from=$emailtpl key=$key value=$value id=$tmpid -->
							<option value="{$value.identifier}"{if $rs.etpl_comment_admin == $value.identifier} selected{/if}>{lang回复信息_管理员模板}_{$value.title}_{$value.identifier}<!-- if $value.note -->_{$value.note}<!-- /if --></option>
							<!-- /loop -->
						</select>
					</div>
					<div class="layui-input-block" style="margin-top:10px;">
						<select id="etpl_comment_user" name="etpl_comment_user">
							<option value="">{lang回复信息_会员不通知}</option>
							<!-- loop from=$emailtpl key=$key value=$value id=$tmpid -->
							<option value="{$value.identifier}"{if $rs.etpl_comment_user == $value.identifier} selected{/if}>{lang回复信息_会员模板}_{$value.title}_{$value.identifier}<!-- if $value.note -->_{$value.note}<!-- /if --></option>
							<!-- /loop -->
						</select>
					</div>
					<div class="layui-input-block gray">{lang通知管理员仅限启用【评论】后有效，通知会员仅限启用【评论】且已登录会员后有效}</div>
				</div>
			</div>
			<div class="layui-form-item" style="display: none">
				<label class="layui-form-label">{lang默认主题数}</label>
				<div class="layui-input-inline">
					<input type="text" id="psize" name="psize" value="{$rs.psize ? $rs.psize : 30}" class="layui-input" />
				</div>
				<div class="layui-input-inline auto gray">{lang设置每页默认的主题数量}</div>
			</div>
			<div class="layui-form-item" style="display: none">
				<label class="layui-form-label">{lang数据排序}</label>
				<div class="layui-input-block">
					<input type="text" id="orderby" name="orderby" class="layui-input" value="{$rs.orderby ? $rs.orderby : 'l.sort ASC,l.dateline DESC,l.id DESC'}" />
				</div>
				<div class="layui-input-block" style="margin-top:10px;">
					<div class="button-group">
						<input type="button" value="{lang清空}" class="phpok-btn" onclick="$('#orderby').val('')" />
						<input type="button" value="{lang点击}" onclick="phpok_admin_orderby('orderby','l.hits')" class="phpok-btn" />
						<input type="button" value="{lang时间}" onclick="phpok_admin_orderby('orderby','l.dateline')" class="phpok-btn" />
						<input type="button" value="{lang回复时间}" onclick="phpok_admin_orderby('orderby','l.replydate')" class="phpok-btn" />
						<input type="button" value="ID" onclick="phpok_admin_orderby('orderby','l.id')" class="phpok-btn" />
						<input type="button" value="{lang人工}" onclick="phpok_admin_orderby('orderby','l.sort')" class="phpok-btn" />
					</div>
					<div id="tmp_orderby_btn" class="button-group" style="margin-left:10px;"></div>
				</div>
				<div class="layui-input-block auto">{lang设置好默认排序，有利于网站的管理/前后台一致}</div>
			</div>
			<div class="layui-form-item" style="display: none">
				<label class="layui-form-label">{lang列表读取}</label>
				<div class="layui-input-block">
					<input type="text" id="list_fields" name="list_fields" class="layui-input" value="{$rs.list_fields}" />
				</div>
				<div class="layui-input-block" style="margin-top:10px;">
					<div class="layui-btn-group" id="tmp_fields_btn">
						<input type="button" value="{lang清空}" class="layui-btn layui-btn-sm layui-btn-normal" onclick="$('#list_fields').val('')" />
					</div>
				</div>
				<div class="layui-input-block auto">{lang当绑定了模块后，读取列表的数据默认为全部，请根据实际情况来设置，最多不能超过200字符}</div>
			</div>
			<div class="layui-form-item" style="display: none">
				<label class="layui-form-label">{lang关联根分类}</label>
				<div class="layui-input-inline auto">
					<select id="cate" name="cate" onchange="update_show_select(this.value)" lay-ignore>
					<option value="0">{lang不关联分类}</option>
					<!-- loop from=$catelist key=$key value=$value id=catelist_id -->
					<option value="{$value.id}"{if $value.id == $rs.cate} selected{/if}>{$value.title}</option>
					<!-- /loop -->
					</select>
					<input type="button" value="{lang添加根分类}" onclick="cate_add(this.value)" class="phpok-btn" />
				</div>
				<div class="layui-input-inline auto gray">{lang启用此项后，添加内容时，需要选对相对应的分类，且不能为空}</div>
			</div>

			<div id="cate_multiple_set"{if !$rs.cate} class="hide"{/if}>
				<div class="layui-form-item">
					<label class="layui-form-label"><i class="layui-icon layui-tips" lay-tips="{lang设置分类是单选模式还是多选模式}">&#xe702;</i> {lang分类选项}</label>
					<div class="layui-input-inline auto">
						<input type="radio" name="cate_multiple" value="0"{if !$rs.cate_multiple} checked{/if} title="{lang单选}" />
						<input type="radio" name="cate_multiple" value="1"{if $rs.cate_multiple} checked{/if} title="{lang多选}" />
					</div>
					<div class="layui-input-inline auto gray"></div>
				</div>
			</div>
		</div>



	<div class="layui-form-item">
		<label class="layui-form-label">
			{lang图片}
		</label>
		<div class="layui-input-inline default-auto">
			<input type="text" name="pic" id="pic" value="{$rs.pic}" class="layui-input" />
		</div>
		<div class="layui-input-inline auto gray lh38">
			<div class="layui-btn-group">
				<input type="button" value="{lang选择图片}" onclick="$.phpokform.text_button_image_select('pic')" class="layui-btn layui-btn-sm" />
				<input type="button" value="{lang预览}" onclick="$.phpokform.text_button_image_preview('pic')" class="layui-btn layui-btn-sm" />
				<input type="button" value="{lang清空}" onclick="$('#pic').val('');" class="layui-btn layui-btn-sm layui-btn-warm" />
			</div>
		</div>
		<div class="layui-form-mid">
			{lang请选择一个直观的图标，大小为：48x48，建议使用PNG格式}
		</div>
	</div>


	<div class="layui-form-item">
			<label class="layui-form-label">{lang标签}</label>
			<div class="layui-input-block">
				<input type="text" id="tag" name="tag" class="layui-input" value="{$rs.tag}" />
			</div>
			<div class="layui-input-block mtop">
				{lang多个标签用 [title] 分开，最多不能超过10个|title:$tag_config.separator}
			</div>
		</div>
	</div>

</div>

<div class="submit-info">
	<div class="layui-container center">
		<input type="submit" value="{lang提交保存}" class="layui-btn layui-btn-lg layui-btn-danger" />
		<input type="button" value="{lang取消关闭}" class="layui-btn layui-btn-lg layui-btn-primary" onclick="$.admin.close()" />
	</div>
</div>
<div class="submit-info-clear"></div>
</form>


<!-- include tpl=foot_lay -->
