<!-- include tpl=head_lay title=偽靜態頁規則管理 -->

<div class="layui-card">
	<div class="layui-card-header " style="visibility: visible;">
		<div>偽靜態頁規則管理</div>
	</div>

	<div class="layui-card-body">

		<blockquote class="layui-elem-quote">
			偽靜態頁規則順序很重要，讀偽靜態頁規則順序從小到大依次讀取，只要一符合條件即刻中止匹配<br>
			標題是為了方便管理而設定，在偽靜態頁中無其他意義<br>
			使用偽靜態頁功能，需要您的WEB伺服器支援，同時您必須對此有所瞭解	<div class="clear"></div>
		</blockquote>

		<div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
			<button class="layui-btn" onclick="parent.layui.index.openTabsPage('{url ctrl=rewrite func=set/}','新增規則')">
				<i class="layui-icon">&#xe608;</i> {lang新增規則}
			</button>
		</div>

		<table class="layui-table">
			<!--<colgroup>  .<col width="150"> <col width="200"> <col> </colgroup>-->
			<thead>
			<tr>
				<th>主題</th>
				<th>正則</th>
				<th>目標網址</th>
				<th>格式化</th>
				<th>排序</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$rslist key=$key value=$value -->
			<tr id="edit_{$value.id}">
				<td>{$value.title}</td>
				<td>{$value.rule}</td>
				<td>{$value.val}</td>
				<td>{$value.format}</td>
				<td><div class="gray i hand center" title="{lang點選調整排序}" name="taxis" data="{$value.id}">{$value.sort}</div></td>
				<td>
					<div class="layui-btn-group">
						<!-- if $popedom.set -->
						<input type="button" value="{lang編輯}" onclick="parent.layui.index.openTabsPage('{url ctrl=rewrite func=set id=$value.id/}','編輯規則');" class="layui-btn  layui-btn-sm" />
						<input type="button" value="{lang複製}" onclick="$.admin_rewrite.copy('{$value.id}')" class="layui-btn  layui-btn-sm" />
						<!-- /if -->
						<!-- if $popedom.delete -->
						<input type="button" value="{lang刪除}" onclick="$.admin_rewrite.del('{$value.id}','{$value.title}')" class="layui-btn  layui-btn-sm" />
						<!-- /if -->
					</div>
				</td>
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->
