<!-- include tpl=head_open -->
<script type="text/javascript">
function save()
{
	if(typeof(CKEDITOR) != "undefined"){
		for(var i in CKEDITOR.instances){
			CKEDITOR.instances[i].updateElement();
		}
	}
	var $parent = $.dialog.opener;
	var url = get_url("site",'addok');
	var title = $("#title").val();
	if(!title){
		$.dialog.alert("{lang網站名稱不能為空}");
		return false;
	}
	var domain = $("#domain").val();
	if(!domain){
		$.dialog.alert("{lang域名不能為空}");
		return false;
	}
	var url = get_url('site','addok','title='+$.str.encode(title)+"&domain="+$.str.encode(domain));
	$.phpok.json(url,function(rs){
		if(rs.status){
			$.dialog.alert("{lang網站新增成功}",function(){
				$parent.$.phpok.reload();
			});
		}else{
			if(!rs.info) rs.info = "{lang建立失敗}";
			$.dialog.alert(rs.info);
			return false;
		}
	});
	return false;
}
</script>
<form method="post" action="javascript:void(0)" onsubmit="return false;">
<div class="table">
	<div class="title">
		{lang網站名稱：}
		<span class="note">{lang設定網站的名稱}</span>
	</div>
	<div class="content">
		<input type="text" id="title" name="title" class="default" />
	</div>
</div>

<div class="table">
	<div class="title">
		{lang網站主域名：}
		<span class="note">{lang設定訪問此網站的域名，此項不能為空}</span>
	</div>
	<div class="content">
		<input type="text" id="domain" name="domain" class="default" />
	</div>
</div>
</form>
<!-- include tpl=foot_open -->