<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header " style="visibility: visible;">
		<div>{lang多站點維護}</div>
	</div>

	<div class="layui-card-body">

		<blockquote class="layui-elem-quote">
			{lang本系統支援多站點多語言模式，所有站點可以通過程式碼來實現跳轉：} <span class="layui-bg-red">{#{#}$sys.url{#}#}?siteId=站點ID</span><br>
			{lang要開啟多語言功能，請在 _config/global.ini.php 裡開啟 multiple_language=true} <br>
			{lang站點列表（別名用於後臺管理，在前臺並不呼叫）}
		</blockquote>

		<div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
			<button class="layui-btn" onclick="$.phpok_site.add();void(0);">
				<i class="layui-icon">&#xe608;</i> {lang新增新站點}
			</button>
		</div>

		<table class="layui-table">
			<colgroup>
				<col>
				<col>
				<col>
				<col>
				<col>
				<col width="240">
			</colgroup>
			<thead>
			<tr>
				<th>{lang站點ID}</th>
				<th>{lang名稱}</th>
				<th>{lang目錄}</th>
				<th>{lang別名}</th>
				<th>{lang域名}</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
			<tr>
				<td>{$value.id}</td>
				<td>
					{$value.title}
					<!-- if $value.is_default -->
					<span class="layui-bg-green">({lang預設站點})</span>
					<!-- /if -->
				</td>
				<td>{$value.dir}</td>
				<td>
					<input type="button" value="{$value.alias ? $value.alias : '無別名，點選設定'}" onclick="$.phpok_site.alias('{$value.id}','{$value.alias}')" class="layui-btn layui-btn-sm" />
				</td>
				<td>{$value.dlist_string}</td>
				<td>
					<div class="layui-btn-group">
						<!-- if !$value.is_default && $popedom.default -->
						<input type="button" value="{lang設為預設站點}" onclick="$.phpok_site.set_default('{$value.id}','{$value.title}')" class="layui-btn layui-btn-sm" />
						<!-- /if -->
						<!-- if $popedom.delete && !$value.is_default -->
						<input type="button" value="{lang刪除}" onclick="$.phpok_site.del('{$value.id}','{$value.title}')" class="layui-btn layui-btn-sm" />
						<!-- /if -->
						<input type="button" value="{lang複製連結}" onclick="" class="layui-btn layui-btn-sm site-url-copy"  data-clipboard-text="{#{#}$sys.url{#}#}?siteId={$value.id}" />
					</div>
				</td>
			</tr>
			<!-- /loop -->
			</tbody>
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->