<!-- include tpl=head_open -->
<script type="text/javascript">
function save()
{
	if(typeof(CKEDITOR) != "undefined"){
		for(var i in CKEDITOR.instances){
			CKEDITOR.instances[i].updateElement();
		}
	}
	var opener = $.dialog.opener;
	$("#post_save").ajaxSubmit({
		'url':get_url('tag','config_save'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status){
				$.dialog.alert('操作成功',function(){
					opener.$.phpok.reload();
				},'succeed');
				return true;
			}
			$.dialog.alert(rs.info);
			return false;
		}
	});
	return false;
}
</script>
<div class="tips">{lang特別說明：分割符號一經確認，就不要再修改，否則會造成平臺標籤識別異常}</div>
<form method="post" id="post_save" onsubmit="return false;">
<div class="table">
	<div class="title">
		{lang分割符號：}<span class="note">{lang用於操作主題時對標籤進行分割，留空將使用英文逗號}</span>
	</div>
	<div class="content">
		<input type="text" name="separator" id="separator" value="{$rs.separator}" />
	</div>
</div>
<div class="table">
	<div class="title">
		{lang快捷標籤數量：}<span class="note">{lang新增文章時，讀取最新的快捷標籤個數}</span>
	</div>
	<div class="content">
		<input type="text" name="count" id="count" value="{$rs.count}" />
	</div>
</div>
</form>
<!-- include tpl=foot_open -->