<!-- include tpl=head_open -->
<script type="text/javascript">
function save()
{
	if(typeof(CKEDITOR) != "undefined"){
		for(var i in CKEDITOR.instances){
			CKEDITOR.instances[i].updateElement();
		}
	}
	var opener = $.dialog.opener;
	$("#post_save").ajaxSubmit({
		'url':get_url('tag','save'),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status){
				$.dialog.alert('標籤提交成功',function(){
					opener.$.phpok.reload();
				},'succeed');
				return true;
			}
			opener.$.dialog.alert(rs.info);
			return false;
		}
	});
	return true;
}
</script>
<form method="post" id="post_save" onsubmit="return false">
	<!-- if $id --><input type="hidden" name="id" id="id" value="{$id}" /><!-- /if -->
<div class="table">
    <div class="title">
	選擇標簽組	
	</div>
	<div class="content">
        <select name="tag_group_id" id="tag_group_id" class="long">
            <!-- loop from=$tag_group key=$key value=$value id=$tmpid -->
            <option value="{$value.id}"{if $value.id == $rs.tag_group_id} selected{/if}>{$value.name}</option>
            <!-- /loop -->
        </select>
	</div>
	<div class="title">
		{lang標籤} <span class="note">請設定好相應的標籤</span>
	</div>
	<div class="content">
		<input type="text" name="title" id="title" value="{$rs.title}" class="long" />
	</div>
	<div class="title">
		{lang近义词} <span class="note">多個詞語用英文(,)隔開</span>
	</div>
	<div class="content">
		<input type="text" name="alias_title" id="alias_title" value="{$rs.alias_title}" class="long" />
	</div>
	<div class="title">
		{lang排序}
	</div>
	<div class="content">
		<input type="text" name="sort" id="sort" value="{$rs.sort}" class="short" />
	</div>

</div>
</form>
<!-- include tpl=foot_open -->
