<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang風格} <span class="red">{$rs.title} {$folder}</span>
		<div class="layui-btn-group fr">
			<button type="button" class="layui-btn layui-btn-sm" onclick="$.admin_tpl.add_folder('{$id}','{$folder}')">
				{lang建立資料夾}
			</button>
			<button type="button" class="layui-btn layui-btn-sm" onclick="$.admin_tpl.add_file('{$id}','{$folder}','{$rs.ext}')">
				{lang建立模板檔案}
			</button>
			<button type="button" class="layui-btn layui-btn-sm" onclick="parent.layui.admin.events.closeThisTabs();">
				{lang返回}
			</button>
			<!-- if $folder != "/" -->
			<button type="button" class="layui-btn layui-btn-sm" onclick="$.phpok.go('{echo admin_url(\'tpl\',\'list\')}&id={$id}')">
				{lang點此返回根目錄}
			</button>
			<!-- /if -->
		</div>
	</div>
	<div class="layui-card-body">
		<blockquote class="layui-elem-quote">
			<!-- php:$tmp = 'tpl/'.$rs.folder.''.$folder -->
			{lang要實現線上編輯和上傳功能，請確保 [folder] 下的檔案有寫入許可權|folder:$tmp}
		</blockquote>
		<table class="layui-table">
		<thead>
		<tr>
			<th width="40">&nbsp;</th>
			<th>{lang名稱}</th>
			<th width="150px">{lang時間}</th>
			<th>&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		<!-- loop from=$dirlist key=$key value=$value -->
		<tr>
			<td align="center"><img src="images/filetype/dir.gif" border="0" alt="{lang資料夾}"></td>
			<td colspan="2">{$value.title}</td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang改名}" onclick="$.admin_tpl.folder_rename('{$id}','{$folder}','{$value.title}')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang進入}" onclick="$.phpok.go('{$value.url}')" class="layui-btn layui-btn-sm" />
					<input type="button" value="{lang刪除}" class="layui-btn layui-btn-sm layui-btn-danger" onclick="$.admin_tpl.del('{$id}','{$folder}','{$value.title}')" />
				</div>
			</td>
		</tr>
		<!-- /loop -->
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td align="center"><img src="images/filetype/{$value.type}.gif" border="0" alt="檔案：{$value.title}"></td>
			<td>{$value.title}</td>
			<td>{$value.date}</td>
			<td>
				<div class="layui-btn-group">
					<input type="button" value="{lang改名}" onclick="$.admin_tpl.file_rename('{$id}','{$folder}','{$value.title}')" class="layui-btn layui-btn-sm" />
					<!-- if in_array($value.type,$edit_array) -->
					<input type="button" value="{lang編輯}" onclick="$.admin_tpl.edit('{$id}','{$folder}','{$value.title}')" class="layui-btn layui-btn-sm" />
					<!-- elseif in_array($value.type,$pic_array) -->
					<input type="button" value="{lang檢視}" onclick="$.admin_tpl.view('tpl/{$rs.folder}{$folder}{$value.title}')" class="layui-btn layui-btn-sm" />
					<!-- else -->
					<input type="button" value="{lang下載}" onclick="$.admin_tpl.download('{$id}','{$folder}','{$value.title}')" class="layui-btn layui-btn-sm" />
					<!-- /if -->
					<input type="button" value="{lang刪除}" onclick="$.admin_tpl.del('{$id}','{$folder}','{$value.title}')" class="layui-btn layui-btn-sm layui-btn-danger" />
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</tbody>
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->