<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang風格方案管理}
		<div class="fr">
		<button class="layui-btn layui-btn-sm" onclick="$.win('{lang新增規則}','{url ctrl=tpl func=set/}')">
			<i class="layui-icon">&#xe608;</i> {lang新增風格}
		</button>
		</div>
	</div>
	<div class="layui-card-body">
		<blockquote class="layui-elem-quote">
			{lang風格管理支援多站點執行，手機版請在此風格資料夾名稱上輸入_mobile}
		</blockquote>
		<table class="layui-table">
		<thead>
		<tr>
			<th>ID</th>
			<th>{lang名稱}</th>
			<th>{lang目錄}</th>
			<th>{lang資料夾改寫}</th>
			<th width="190">{lang操作}</th>
		</tr>
		</thead>
		<tbody>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td>{$value.id}</td>
			<td>{$value.title}<!-- if $value.author --> <span class="gray i">（{$value.author}）</span><!-- /if --></td>
			<td>tpl/{$value.folder}/</td>
			<td>{$value.folder_change ? $value.folder_change : '空'}</td>
			<td>
				<div class="layui-btn-group">
					<!-- if $popedom.filelist -->
					<input type="button" value="{lang檔案管理}" onclick="$.admin_tpl.tpl_filelist({$value.id})" class="layui-btn layui-btn-sm" />
					<!-- /if -->
					<!-- if $popedom.set -->
					<input type="button" value="{lang編輯}" onclick="$.admin_tpl.tpl_set({$value.id})" class="layui-btn layui-btn-sm" />
					<!-- /if -->
					<!-- if $popedom.delete -->
					<input type="button" value="{lang刪除}" onclick="$.admin_tpl.tpl_delete({$value.id},'{$value.title}')" class="layui-btn layui-btn-sm layui-btn-danger" />
					<!-- /if -->
				</div>
			</td>
		</tr>
		<!-- /loop -->
		</tbody>
		</table>
	</div>
</div>
<!-- include tpl=foot_lay -->