<!-- include tpl=head_lay -->
<script type="text/javascript">
function check_save()
{
	
	return true;
}
</script>
<form method="post" id="post_save" class="layui-form" onsubmit="return $.admin_tpl.save()">
<input type="hidden" name="id" id="id" value="{$id}" />
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang風格名稱}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="title" name="title" class="layui-input" value="{$rs.title}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang設定風格的名稱，支援各種語言，此名稱僅用於管理}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang開發人員}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="author" name="author" class="layui-input" value="{$rs.author}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang設定風格的開發人員名稱，團體請填寫團體名稱}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang資料夾}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="folder" name="folder" class="layui-input" value="{$rs.folder}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang請風格根目錄tpl下建立相應的資料夾名稱}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang刷新引數}
			</label>
			<div class="layui-input-inline auto">
				<input type="checkbox" lay-skin="primary" name="refresh_auto" id="refresh_auto" {if $rs.refresh_auto} checked{/if} title="{lang自動刷新}" />
				<input type="checkbox" lay-skin="primary" name="refresh" id="refresh" {if $rs.refresh} checked{/if} title="{lang強制刷新}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang設定是否自動判斷刷新和是否使用強制刷新}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang目錄改寫}
			</label>
			<div class="layui-input-block">
				<div><input type="text" id="folder_change" name="folder_change" class="layui-input" value="{$rs.folder_change}" /></div>
				<div class="layui-btn-group" style="margin-top:5px;">
					<input type="button" value="CSS" onclick="$.admin_tpl.set_folder('css')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Style" onclick="$.admin_tpl.set_folder('style')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Js" onclick="$.admin_tpl.set_folder('js')" class="layui-btn layui-btn-sm" />
					<input type="button" value="JavaScript" onclick="$.admin_tpl.set_folder('javascript')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Script" onclick="$.admin_tpl.set_folder('script')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Images" onclick="$.admin_tpl.set_folder('images')" class="layui-btn layui-btn-sm" />
					<input type="button" value="Image" onclick="$.admin_tpl.set_folder('image')" class="layui-btn layui-btn-sm" />
					<input type="button" value="清空" onclick="$('#folder_change').val('');" class="layui-btn layui-btn-sm layui-btn-warm" />
				</div>
			</div>
			<div class="layui-input-block mtop">{lang多個目錄用英文逗號隔開，點按鈕新增再點一次刪除（Linux下大小寫有區分）}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{langPHP目錄}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="phpfolder" name="phpfolder" class="layui-input" value="{$rs.phpfolder}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang指定可執行PHP的檔案目錄，在模板中使用} <span class="red">&lt;!-- include file=php-filename --&gt;</span></div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang模板字尾名}
			</label>
			<div class="layui-input-inline">
				<input type="text" id="ext" name="ext" class="layui-input" value="{$rs.ext}" />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang推薦您使用php作為模板字尾名，可以防止別人下載模板，為空使用html}</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				
			</label>
			<div class="layui-input-inline default-auto">
				<input type="submit" value="{lang提交}" class="submit2" />
			</div>
		</div>
		
	</div>
</div>
</form>
<!-- include tpl=foot_lay -->