<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" src="js/ueditor/dialogs/internal.js"></script>
    <link rel="stylesheet" type="text/css" href="js/ueditor/dialogs/attachment/attachment.css"/>
</head>
<body>
<div class="wrapper">
    <div class="controller">
        <!--<span id="divStatus"></span>-->
        <span id="spanButtonPlaceHolder"></span>
    </div>
    <div class="fieldset flash" id="fsUploadProgress"></div>
    <span id="startUpload" style="display: none;"></span>

</div>

<script type="text/javascript" src="js/swfupload/swfupload.js"></script>
<script type="text/javascript" src="js/ueditor/dialogs/attachment/callbacks.js"></script>
<script type="text/javascript">
    var swfupload,
        filesList=[];
    editor.setOpt({
        fileFieldName:"upfile"
    });
    window.onload = function () {
        var settings = {
            upload_url:editor.options.fileUrl,           //附件上傳伺服器地址
            file_post_name:editor.options.fileFieldName,      //向後臺提交的表單名
            flash_url:"js/swfupload/swfupload.swf",
            post_params:{"{$app->session->sid()}":"{$app->session->sessid()}"}, //解決session丟失問題
            file_size_limit:"100 MB",                                 //檔案大小限制，此處僅是前端flash選擇時候的限制，具體還需要和後端結合判斷
            file_types:"*.*",                                         //允許的副檔名，多個副檔名之間用分號隔開，支援*萬用字元
            file_types_description:"All Files",                      //副檔名描述
            file_upload_limit:100,                                   //單次可同時上傳的檔案數目
            file_queue_limit:10,                                      //佇列中可同時上傳的檔案數目
            custom_settings:{                                         //自定義設定，使用者可在此向伺服器傳遞自定義變數
                progressTarget:"fsUploadProgress",
                startUploadId:"startUpload"
            },
            debug:false,

            // 按鈕設定
            button_image_url:"images/swfupload.png",
            button_width:"92",
            button_height:"23",
            button_placeholder_id:"spanButtonPlaceHolder",

            // 所有回撥函式 in handlersplugin.js
            swfupload_preload_handler:preLoad,
            swfupload_load_failed_handler:loadFailed,
            file_queued_handler:fileQueued,
            file_queue_error_handler:fileQueueError,
            //選擇檔案完成回撥
            file_dialog_complete_handler:function(numFilesSelected, numFilesQueued) {
                var me = this;        //此處的this是swfupload物件
                if (numFilesQueued > 0) {
                    dialog.buttons[0].setDisabled(true);
                    var start = $G(this.customSettings.startUploadId);
                    start.style.display = "";
                    start.onclick = function(){
                        me.startUpload();
                        start.style.display = "none";
                    }
                }
            },
            upload_start_handler:uploadStart,
            upload_progress_handler:uploadProgress,
            upload_error_handler:uploadError,
            upload_success_handler:function (file, serverData) {
                try{
                    var info = eval("("+serverData+")");
                }catch(e){}
                var progress = new FileProgress(file, this.customSettings.progressTarget);
                if(info.state=="SUCCESS"){
                    progress.setComplete();
                    progress.setStatus("<span style='color: #0b0;font-weight: bold'>"+lang.uploadSuccess+"</span>");
                    filesList.push({id:info.id,url:info.url,type:info.fileType,original:info.original});
                    progress.toggleCancel(true,this,lang.delSuccessFile);
                }else{
                    progress.setError();
                    progress.setStatus(info.state);
                    progress.toggleCancel(true,this,lang.delFailSaveFile);
                }
            },
            //上傳完成回撥
            upload_complete_handler:uploadComplete,
            //佇列完成回撥
            queue_complete_handler:function(numFilesUploaded){
                dialog.buttons[0].setDisabled(false);
            }
        };
        swfupload = new SWFUpload( settings );
        //點選OK按鈕
        dialog.onok = function(){
            str="";
            for(var i=0,ci;ci=filesList[i++];){
                str += "<p>[download:"+ci.id+"]" + ci.original + "[/download]</p>";
            }
            editor.execCommand("insertHTML",str);
            swfupload.destroy();
        };
        dialog.oncancel = function(){
            swfupload.destroy();
        }
    };
</script>

</body>
</html>
