<!-- include tpl=head title="配置升級服務環境 - 程序升級" -->
<div class="tips">
	您當前位置：
	<a href="{url ctrl=update/}" title="程序升級">程序升級</a>
	&raquo; 配置升級服務環境
</div>
<form method="post" action="{url ctrl=update func=save/}">
<div class="table">
	<div class="title">
		升級：
		<span class="note">只有啟用升級後才能實現線上升級，如果您不需要此功能，請禁用</span>
	</div>
	<div class="content">
		<table cellpadding="0" cellspacing="0">
		<tr>
			<td><label><input type="radio" name="status" value="1"{if $rs.status} checked{/if} /> 啟用</label></td>
			<td>&nbsp; &nbsp;</td>
			<td><label><input type="radio" name="status" value="0"{if !$rs.status} checked{/if} /> 禁用</label></td>
		</tr>
		</table>
	</div>
</div>
<div class="table">
	<div class="title">
		升級伺服器：
		<span class="note">設定升級伺服器資訊</span>
	</div>
	<div class="content">
		<input type="text" id="server" name="server" class="long" value="{$rs.server}" />
	</div>
</div>
<div class="table">
	<div class="title">
		升級伺服器IP：
		<span class="note">如遠端訪問獲取失敗，可以在這裡設定遠端IP</span>
	</div>
	<div class="content">
		<input type="text" name="ip" class="long" value="{$rs.ip}" />
	</div>
</div>
<div class="table">
	<div class="title">
		自動檢測週期：
		<span class="note">設定為0，表示不自動檢測，設定大於0表示每隔幾天進行一次檢測，建議設定為30天檢測一次</span>
	</div>
	<div class="content">
		<input type="text" id="date" name="date" class="short" value="{$rs.date}" />
	</div>
</div>
<br />
<div class="table">
	<div class="content">
		<input type="submit" value="提 交" class="submit" />
	</div>
</div>
</form>
<!-- include tpl=foot -->