<!-- include tpl=head_lay -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang升級說明：請確保網站程式目錄及子目錄可寫}
		<div class="fr">
			<button type="button" onclick="$.phpok.go('{url ctrl=update/}')" class="layui-btn layui-btn-sm">
				<i class="layui-icon">&#xe65c;</i> {lang返回}
			</button>
		</div>
	</div>
	<div class="layui-card-body">
		<table class="layui-table">
		<tr id="myupdate">
			<th width="150px">版本</th>
			<th>&nbsp;程式打包時間</th>
			<th>&nbsp;大小</th>
			<th>型別</th>
			<th width="40px">狀態</th>
		</tr>
		<!-- loop from=$rslist key=$key value=$value -->
		<tr>
			<td align="center" height="25px">{$value.version}</td>
			<td align="left" class="mylist" name="{$value.id}">{$value.time}</td>
			<td align="left">{$value.size}</td>
			<td align="center">{$value.type}</td>
			<td align="center" class="red" id="my_{$value.id}">-</td>
		</tr>
		<!-- /loop -->
		</table>
	</div>
</div>
<div class="submit-info-clear"></div>
<div class="submit-info">
	<div class="layui-container center">
		<input type="button" id="start_id" onclick="start_update()" value="{lang開始更新}" class="layui-btn layui-btn-lg layui-btn-danger" />
		<input type="button" value="{lang返回}" class="layui-btn layui-btn-lg" onclick="$.phpok.go(get_url('update'))" />
		<input type="button" value="{lang取消關閉}" class="layui-btn layui-btn-lg layui-btn-primary" onclick="$.admin.close()" />
	</div>
</div>

<!-- include tpl=foot -->