<!-- include tpl=head_lay -->
<form method="post" class="layui-form" id="post_save" onsubmit="return $.admin_usergroup.setok();">
<!-- if $id --><input type="hidden" name="id" id="id" value="{$id}" /><!-- /if -->
<div class="layui-card">
	<div class="layui-card-header">
		{lang會員組基本資訊}
	</div>
	<div class="layui-card-body">
		<!-- if $reglist -->
		<blockquote class="layui-elem-quote">
			{lang要啟用【邀請碼註冊】和【郵箱驗證註冊】功能，您需要}
			<ol style="margin-left:2em">
				<li>{lang建立一個專案（假設為regcheck）}</li>
				<li>{lang專案必須繫結一個模組【假設為註冊驗證】}</li>
				<li>{lang繫結的模組裡必須有欄位} <span class="red">account</span> {lang即會員賬號欄位}
			</ol>
		</blockquote>
		<!-- /if -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang名稱}
			</label>
			<div class="layui-input-inline default-auto">
				<input type="text" id="title" required lay-verify="required" name="title" value="{$rs.title}" autocomplete="off" class="layui-input" />
			</div>
			<div class="layui-input-inline auto gray lh38">
				{lang設定會員組的名稱}
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang註冊稽核}
			</label>
			<div class="layui-input-inline auto">
				<input type="radio" name="register_status" title="{lang自動稽核}" value="1" {if $rs.register_status == '1'} checked{/if} />
				<!-- if $reglist -->
				<input type="radio" name="register_status" title="{lang郵箱驗證註冊}" value="email" {if $rs.register_status == 'email'} checked{/if} />
				<input type="radio" name="register_status" title="{lang邀請碼驗證}" value="code" {if $rs.register_status == 'code'} checked{/if} />
				<!-- /if -->
				<input type="radio" name="register_status" title="{lang人工稽核}" value="0" {if !$rs.register_status} checked{/if} />
			</div>
			<div class="layui-input-inline auto gray lh38">{lang系統管理員是最高級別管理也是開發管理員，可管理整個平臺所有功能}</div>
		</div>

		<!-- if $reglist -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang驗證庫}
			</label>
			<div class="layui-input-block">
				<!-- loop from=$reglist key=$key value=$value -->
				<input type="radio" name="tbl_id" title="{$value.title}" value="{$value.id}"{if $rs.tbl_id == $value.id} checked{/if}>
				<!-- /loop -->
				<input type="radio" name="tbl_id" title="{lang不使用}" value="0"{if !$rs.tbl_id} checked{/if} />
			</div>
			<div class="layui-input-block mtop">{lang僅限啟用驗證後才有效}</div>
		</div>
		<!-- /if -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang開放選擇}
			</label>
			<div class="layui-input-inline auto">
				<input type="radio" name="is_open" title="{lang禁用}" value="0"{if !$rs.is_open} checked{/if}>
				<input type="radio" name="is_open" title="{lang啟用}" value="1"{if $rs.is_open} checked{/if}>
			</div>
			<div class="layui-input-inline auto gray lh38">
				{lang設定是否開放此組供使用者選擇（啟用後允許使用者自行選擇會員組）}
			</div>
		</div>
		<!-- if $id && !$rs.is_guest -->
		<div class="layui-form-item">
			<label class="layui-form-label">
				{lang欄位}
			</label>
			<div class="layui-input-block" id="user_fields_ul">
				<!-- loop from=$all_fields_list key=$key value=$value -->
				<input type="checkbox" name="fields_list[]" title="{$value.title}" value="{$value.identifier}"{if $fields_list && in_array($value.identifier,$fields_list)} checked{/if} />
				<!-- /loop -->
			</div>
			<div class="layui-input-block mtop">
				<div class="layui-btn-group">
					<input type="button" class="layui-btn layui-btn-sm" value="全選" onclick="$.input.checkbox_all('user_fields_ul')"/>
					<input type="button" class="layui-btn layui-btn-sm" value="全不選" onclick="$.input.checkbox_none('user_fields_ul')"/>
					<input type="button" class="layui-btn layui-btn-sm" value="反選" onclick="$.input.checkbox_anti('user_fields_ul')"/>
				</div>
			</div>
		</div>
		<!-- /if -->
		
		
		<div class="layui-form-item">
			<label class="layui-form-label">{lang排序}</label>
			<div class="layui-input-inline short">
				<input type="text" id="taxis" name="taxis" value="{$rs.taxis ? $rs.taxis : 255}" autocomplete="off" class="layui-input" />
			</div>
			<div class="layui-form-mid layui-word-aux">
				{lang設定排序，最大值不超過255，最小值為0，值越小越往前靠}
			</div>
		</div>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-header">
		{lang許可權設定}
		<div class="layui-btn-group fr">
			<input type="button" class="layui-btn layui-btn-sm" value="全部可讀" onclick="$('input[data=read]').prop('checked',true);layui.form.render('checkbox')" />
			<input type="button" class="layui-btn layui-btn-sm" value="全部不可讀" onclick="$('input[data=read]').prop('checked',false);layui.form.render('checkbox')" />
		</div>
	</div>
	<div class="layui-card-body">
		<!-- loop from=$project_list key=$key value=$value -->
		<div class="layui-form-item" id="site_p_{$v.id}">
			<label class="layui-form-label" style="width:auto;min-width:150px;text-align: left;">{$value.space}{$value.title}</label>
			<div class="layui-input-inline default-auto">
				<div class="layui-btn-group">
					<input type="button" class="layui-btn layui-btn-sm" value="{lang全選}" onclick="$.input.checkbox_all('project_{$value.id}')" />
					<input type="button" class="layui-btn layui-btn-sm" value="{lang全不選}" onclick="$.input.checkbox_none('project_{$value.id}')" />
					<input type="button" class="layui-btn layui-btn-sm" value="{lang反選}" onclick="$.input.checkbox_anti('project_{$value.id}')" />
				</div>
				<input type="checkbox" name="popedom[]" data="read" title="閱讀"  value="read:{$value.id}"{if $popedom_users && in_array('read:'.$value.id,$popedom_users)} checked{/if} />
				<!-- if $value.module -->
				<!-- if $value.post_status -->
				<input type="checkbox" name="popedom[]" title="釋出" value="post:{$value.id}"{if $popedom_users && in_array('post:'.$value.id,$popedom_users)} checked{/if} />
				<input type="checkbox" name="popedom[]" title="釋出免稽核" value="post1:{$value.id}"{if $popedom_users && in_array('post1:'.$value.id,$popedom_users)} checked{/if} />
				<!-- /if -->
				<!-- if $value.comment_status -->
				<input type="checkbox" name="popedom[]" title="回覆" value="reply:{$value.id}"{if $popedom_users && in_array('reply:'.$value.id,$popedom_users)} checked{/if} />
				<input type="checkbox" name="popedom[]" title="回覆免稽核" value="reply1:{$value.id}"{if $popedom_users && in_array('reply1:'.$value.id,$popedom_users)} checked{/if} />
				<!-- /if -->
				<!-- /if -->
			</div>
		</div>
		<!-- /loop -->
	</div>
</div>
<div class="submit-info-clear"></div>
<div class="submit-info">
	<div class="layui-container center">
		<input type="submit" value="{lang提交}" class="layui-btn layui-btn-lg layui-btn-danger" />
		<input type="button" value="{lang取消關閉}" class="layui-btn layui-btn-lg layui-btn-primary" onclick="$.admin.close()" />
	</div>
</div>
</form>
<!-- include tpl=foot_lay -->