<!-- include tpl=head -->
<div class="tips">
	{lang當前位置：}<a href="{url ctrl=wealth/}">{lang財富方案}</a>
	&raquo; <b class="red">{$rs.title}</b>{lang收支規則}
	<div class="clear"></div>
</div>
<script type="text/javascript">
function delete_it(id)
{
	$.dialog.confirm('{lang確定要刪除當前規則嗎？}',function(){
		var url = get_url('wealth','delete_rule','id='+id);
		var rs = $.phpok.json(url);
		if(rs.status == 'ok'){
			$.dialog.alert('{lang刪除成功}',function(){
				$.phpok.reload();
			},'succeed');
		}else{
			$.dialog.alert(rs.content);
			return false;
		}
	});
}
function update_it(id)
{
	var url = get_url('wealth','save_rule','id='+id);
	$("#set_rule_"+id).ajaxSubmit({
		'url':get_url('wealth','save_rule','id='+id),
		'type':'post',
		'dataType':'json',
		'success':function(rs){
			if(rs.status){
				$.dialog.alert('{lang規則編輯成功}',function(){
					$.phpok.reload();
				},'succeed');
			}else{
				$.dialog.alert(rs.info);
				return false;
			}
		}
	});
	return false;
}
$(document).ready(function(){
	$("#add_rule").submit(function(){
		$(this).ajaxSubmit({
			'url':"{url ctrl=wealth func=save_rule wid=$rs.id/}",
			'type':'post',
			'dataType':'json',
			'success':function(rs){
				if(rs.status){
					$.dialog.alert('{lang規則建立成功}',function(){
						$.phpok.reload();
					},'succeed');
				}else{
					$.dialog.alert(rs.info);
					return false;
				}
			}
		});
		return false;
	});
});
</script>
<div class="help">
	<ol>
		<li>值：此框支援填寫負數，正數，負數表示扣除，當{$rs.title}為0時，不能再執行扣除操作</li>
		<li>登入獲取財富同一天僅限第一次有效</li>
		<li>僅在訂單中支援變數price支援數學計算，如-(price/10+10)</li>
		<li>物件：所有財富在未指定規則時，都計算到使用者，除非您指定了介紹人（也就是推薦人）</li>
		<li>目前使用者級別請到：<span class="red">data/xml/user_agent.xml</span> 修改</li>
		<li>主題支援變數integral，支援數學計算，如-(integral/10+10)，此引數也支援在訂單中使用（僅限訂單中有關聯的產品）</li>
	</ol>
</div>
<table width="100%" cellpadding="0" cellspacing="0" class="list">
<tr>
	<th width="75">ID</th>
	<th width="220">{lang執行動作}</th>
	<th width="220">{lang值}</th>
	<th width="220">{lang物件}</th>
	<th width="75">{lang排序}</th>
	<th class="lft">{lang操作}</th>
</tr>
<!-- loop from=$rslist key=$key value=$value -->
<form method="post" id="set_rule_{$value.id}" onsubmit="return update_it('{$value.id}')">
<tr>
	<td class="center">{$value.id}</td>
	<td class="center">
		<select name="action">
			<!-- loop from=$alist key=$k value=$v id=$tmpid -->
			<option value="{$k}"{if $value.action == $k} selected{/if}>{$v}</option>
			<!-- /loop -->
		</select>
	</td>
	<td class="center"><input type="text" name="val"  class="center" value="{$value.val}"/></td>
	<td class="center">
		<select name="goal" id="goal_{$value.id}">
			<!-- loop from=$agentlist key=$k value=$v id=$tmpid -->
			<option value="{$k}"{if $value.goal == $k} selected{/if}>{$v}</option>
			<!-- /loop -->
		</select>
	</td>
	<td class="center"><input type="text" name="taxis" id="taxis_{$value.id}" value="{$value.taxis}" class="short center" /></td>
	<td>
		<div class="button-group">
			<input type="submit" value="{lang編輯}" class="layui-btn" />
			<input type="button" value="{lang刪除}" onclick="delete_it('{$value.id}')" class="layui-btn" />
		</div>
	</td>
</tr>
</form>
<!-- /loop -->
<form method="post" id="add_rule">
<tr>
	<td class="center">新增</td>
	<td class="center">
		<select name="action">
			<option value="">{lang動作…}</option>
			<!-- loop from=$alist key=$key value=$value id=$tmpid -->
			<option value="{$key}">{$value}</option>
			<!-- /loop -->
		</select>
	</td>
	<td class="center"><input type="text" name="val"  class="center"/></td>
	<td class="center">
		<select name="goal">
			<!-- loop from=$agentlist key=$key value=$value id=$tmpid -->
			<option value="{$key}">{$value}</option>
			<!-- /loop -->
		</select>
	</td>
	<td class="center"><input type="text" name="taxis" value="255" class="short center" /></td>
	<td><input type="submit" value="{lang新增}" class="layui-btn" /></td>
</tr>
</form>
</table>
<!-- include tpl=foot -->