<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>SMTP郵件</title>
	<note>所有支援SMTP郵件傳送的都可以使用</note>
	<code>
		<server>
			<title>SMTP伺服器</title>
			<note>如smtp.126.com</note>
			<type>text</type>
			<required>true</required>
		</server>
		<port>
			<title>埠號</title>
			<note>為空使用25作為預設埠號</note>
			<type>text</type>
		</port>
		<account>
			<title>帳號</title>
			<note>填寫郵件伺服器傳送涉及到的賬號</note>
			<type>text</type>
			<required>true</required>
		</account>
		<password>
			<title>密碼</title>
			<note>郵件服務帳號登入密碼</note>
			<type>password</type>
			<required>true</required>
		</password>
		<charset>
			<title>郵件內容編碼</title>
			<note>國外郵件建議使用UTF-8，國內郵件建議使用GBK</note>
			<type>radio</type>
			<option>
				<gbk>GBK</gbk>
				<utf8>UTF-8</utf8>
			</option>
			<default>utf8</default>
		</charset>
		<ssl>
			<title>是否使用SSL</title>
			<note>一般不需要使用</note>
			<type>radio</type>
			<option>
				<yes>啟用</yes>
				<no>不使用</no>
			</option>
			<default>no</default>
		</ssl>
		<fullname>
			<title>發件人姓名</title>
			<note>設定發件人的姓名</note>
			<type>text</type>
		</fullname>
		<email>
			<title>發件人郵箱</title>
			<note>填寫發件人的郵箱（要求登入的賬號和密碼能匹配）</note>
			<type>text</type>
		</email>
	</code>
	<manage>
		<send>
			<title>發郵件</title>
			<exec>sendemail</exec>
			<type>page</type>
		</send>
	</manage>
</root>