<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>Payapl信用卡支付</title>
	<note>基於Paypal的信用卡快捷支付方式</note>
	<code>
		<api_username>
			<title><![CDATA[API賬號]]></title>
			<note>使用快捷支付需要設定API賬號</note>
			<type>text</type>
			
		</api_username>
		<api_password>
			<title><![CDATA[API密碼]]></title>
			<note>使用快捷支付需要設定API密碼</note>
			<type>text</type>
		</api_password>
		<api_signature>
			<title><![CDATA[API簽名]]></title>
			<note>使用快捷支付需要設定API簽名</note>
			<type>text</type>
		</api_signature>
		<act_type>
			<title>執行模式</title>
			<note><![CDATA[本地測試時請選擇測試環境，正式執行後請選擇生產環境]]></note>
			<type>radio</type>
			<option>
				<demo>測試環境</demo>
				<product>生產環境</product>
			</option>
			<default>product</default>
		</act_type>
	</code>
</root>