<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>銀聯（UnionPay）支付</title>
	<code>
		<cvn2_encode>
			<title>CVN2加密</title>
			<note>請配置CVN2是否加密</note>
			<type>radio</type>
			<option>
				<yes>加密</yes>
				<no>不加密</no>
			</option>
			<default>no</default>
		</cvn2_encode>
		<date_encode>
			<title>有效期加密</title>
			<note>請配置有效期是否加密</note>
			<type>radio</type>
			<option>
				<yes>加密</yes>
				<no>不加密</no>
			</option>
			<default>no</default>
		</date_encode>
		<pan_encode>
			<title>卡號加密</title>
			<note>請配置卡號是否加密</note>
			<type>radio</type>
			<option>
				<yes>加密</yes>
				<no>不加密</no>
			</option>
			<default>no</default>
		</pan_encode>
		<sign_cert_file>
			<title>私鑰證書</title>
			<note>基於程式根目錄下而言，為空使用 payment/unionpay/default.pfx，檢測不到將會報錯</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</sign_cert_file>
		<sign_cert_pwd>
			<title>簽名證書密碼</title>
			<note>請填寫證書的密碼，為空或0，則為000000</note>
			<type>text</type>
		</sign_cert_pwd>
		<encrypt_cert_file>
			<title>密碼加密證書</title>
			<note>不使用時請留空</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</encrypt_cert_file>
		<verify_cert_file>
			<title>生產驗簽證書</title>
			<note>基於網站根目錄，為空使用payment/unionpay/default.cer，檢測不到將會報錯</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</verify_cert_file>
		<single_query_url>
			<title>單筆查詢請求地址</title>
			<note>用於查詢支付進度情況</note>
			<type>text</type>
		</single_query_url>
		<trans_url_type>
			<title>交易模式</title>
			<note>請介面訪問模式</note>
			<type>radio</type>
			<option>
				<front>前臺請求</front>
				<back>後臺請求</back>
				<card>有卡交易</card>
				<app>APP交易</app>
			</option>
			<default>front</default>
		</trans_url_type>
		<trans_url>
			<title>請求地址</title>
			<note>請填寫介面請求地址</note>
			<type>text</type>
		</trans_url>
		<mer_id>
			<title>商戶號</title>
			<note>請填寫自己的商戶號</note>
			<type>text</type>
		</mer_id>
		<txn_sub_type>
			<title>交易消費子類</title>
			<note>請選擇交易消費子類，分期付款僅限信用卡，請檢查您的商戶是否已支援</note>
			<type>radio</type>
			<option>
				<default>自助消費</default>
				<installment>分期付款</installment>
			</option>
			<default>default</default>
		</txn_sub_type>
	</code>
</root>