<?xml version="1.0" encoding="utf-8"?>
<root>
	<form>
		<text>
			<title><![CDATA[文字框]]></title>
			<note><![CDATA[不支援回車符號，不超過255個字元或80個漢字的時候建議選擇]]></note>
		</text>
		<password>
			<title><![CDATA[密碼框]]></title>
			<note><![CDATA[文字框變種，保留首頁和末位字元顯示，中間用星號表示]]></note>
		</password>
		<radio>
			<title><![CDATA[單選框]]></title>
			<note><![CDATA[適合使用於資料量小，比較固定的選項，如性別，是否等]]></note>
		</radio>
		<checkbox>
			<title><![CDATA[複選框]]></title>
			<note><![CDATA[適用於資料量小，但要有多種選擇，如興趣愛好等]]></note>
		</checkbox>
		<select>
			<title><![CDATA[下拉選單]]></title>
			<note><![CDATA[與單選框類似，適用於資料量小使用]]></note>
		</select>
		<textarea>
			<title><![CDATA[文字區]]></title>
			<note><![CDATA[支援回車符號，注意容易與HTML程式碼衝突，建議實體文字使用]]></note>
		</textarea>
		<editor>
			<title><![CDATA[編輯器]]></title>
			<note><![CDATA[支援HTML編寫，提交資料時建議選擇：安全HTML]]></note>
		</editor>
		<ckeditor>
			<title><![CDATA[CKEditor編輯器]]></title>
			<note><![CDATA[支援HTML編寫，提交資料時建議選擇：安全HTML，目前僅適應用後臺模組]]></note>
		</ckeditor>
		<code_editor>
			<title><![CDATA[程式碼編輯器]]></title>
			<note><![CDATA[手寫程式碼，適用於放置統計程式碼，分享程式碼等，提交時建議選擇：完整HTML]]></note>
		</code_editor>
		<upload>
			<title><![CDATA[附件]]></title>
			<note><![CDATA[請注意，仔細配置好上傳的附件型別等資訊]]></note>
		</upload>
		<title>
			<title><![CDATA[主題]]></title>
			<note><![CDATA[所選擇的主題必須預先設定好，建議使用【擴充套件模型】取代]]></note>
		</title>
		<extitle>
			<title><![CDATA[擴充套件模型]]></title>
			<note><![CDATA[僅能單選一個專案，專案要求繫結模組]]></note>
		</extitle>
		<user>
			<title><![CDATA[會員]]></title>
			<note><![CDATA[支援單選和多選，僅限後臺使用]]></note>
		</user>
		<url>
			<title><![CDATA[網址]]></title>
			<note><![CDATA[欄位型別一定要選擇長文字，否則可能會被截斷出錯]]></note>
		</url>
		<param>
			<title><![CDATA[規格引數]]></title>
			<note><![CDATA[欄位型別請選擇長文字，否則資料會被截斷出錯]]></note>
		</param>
		<pca>
			<title><![CDATA[省市縣聯動]]></title>
			<note><![CDATA[僅限國內使用，同時也用於物流應用]]></note>
		</pca>
	</form>
	<field>
		<varchar>
			<title><![CDATA[字串]]></title>
			<note><![CDATA[長度是255個字元，最多隻能放80個漢字]]></note>
		</varchar>
		<int>
			<title><![CDATA[整型]]></title>
			<note><![CDATA[11位整數，最大值為2147483647，最小值為-2147483648]]></note>
		</int>
		<float>
			<title><![CDATA[浮點型]]></title>
			<note><![CDATA[支援負號，主要適用於有小數點的資料]]></note>
		</float>
		<date>
			<title><![CDATA[日期]]></title>
			<note><![CDATA[資料庫儲存格式是：YYYY-MM-DD，請注意，這個不是時間戳]]></note>
		</date>
		<datetime>
			<title><![CDATA[日期時間]]></title>
			<note><![CDATA[儲存格式是：YYYY-MM-DD HH:ii:ss]]></note>
		</datetime>
		<longtext>
			<title><![CDATA[長文字]]></title>
			<note><![CDATA[適用於儲存文章內容及其他長文]]></note>
		</longtext>
		<longblob>
			<title><![CDATA[二進位制資訊]]></title>
			<note><![CDATA[適用於儲存二進位制資料，不清楚請不要選這一項]]></note>
		</longblob>
	</field>
	<format>
		<safe>
			<title><![CDATA[實體文字]]></title>
			<note><![CDATA[HTML實體化，包括單雙引號，尖括號都會實體化顯示]]></note>
		</safe>
		<text>
			<title><![CDATA[普通文字]]></title>
			<note><![CDATA[HTML程式碼都會被清除掉，即所有尖括號內容都會被清除]]></note>
		</text>
		<html>
			<title><![CDATA[安全HTML]]></title>
			<note><![CDATA[過濾了 js，iframe，css 等相關資訊，以保證資料安全]]></note>
		</html>
		<html_js>
			<title><![CDATA[完整HTML]]></title>
			<note><![CDATA[保留所有輸入樣式，包括 js，iframe，css 等資訊，有安全隱患]]></note>
		</html_js>
		<int>
			<title><![CDATA[整數]]></title>
			<note><![CDATA[僅支援數字及負號]]></note>
		</int>
		<float>
			<title><![CDATA[浮點型]]></title>
			<note><![CDATA[支援小數點，數字及負號]]></note>
		</float>
		<time>
			<title><![CDATA[時間戳]]></title>
			<note><![CDATA[將輸入的資訊轉化成10位數字，注意資料表必須建成字串型別]]></note>
		</time>
	</format>
</root>