<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>微信支付介面</title>
	<code>
		<appid>
			<title>公眾賬號ID</title>
			<note>微信分配的公眾賬號ID（企業號corpid即為此appId）</note>
			<type>text</type>
		</appid>
		<mch_id>
			<title>商戶號</title>
			<note>微信支付分配的商戶號</note>
			<type>text</type>
		</mch_id>
		<app_key>
			<title>商戶支付金鑰</title>
			<note>參考開戶郵件設定（必須配置，登入商戶平臺自行設定）</note>
			<type>text</type>
		</app_key>
		<app_secret>
			<title>公眾帳號Secert</title>
			<note>僅使用公眾號支付需要配置，登入公眾平臺，進入開發者中心可設定</note>
			<type>text</type>
		</app_secret>
		<device_info>
			<title>裝置號</title>
			<note>終端裝置號(門店號或收銀裝置ID)，注意：PC網頁或公眾號內支付請傳“WEB”</note>
			<type>text</type>
		</device_info>
		<trade_type>
			<title>交易型別</title>
			<note>請選擇該交易支援的型別</note>
			<type>radio</type>
			<option>
				<native>原生掃碼支付</native>
				<jsapi>公眾號支付</jsapi>
				<wap>WAP支付</wap>
			</option>
			<default>native</default>
		</trade_type>
		<pem_cert>
			<title>證書pem格式</title>
			<note>介面中強制要求時需攜帶的證書檔案</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pem_cert>
		<pem_key>
			<title>證書金鑰pem格式</title>
			<note>同上</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pem_key>
		<pem_ca>
			<title>CA證書</title>
			<note>同上</note>
			<type>text</type>
			<typebtn>file</typebtn>
		</pem_ca>
		<proxy_host>
			<title>代理IP</title>
			<note>只有需要代理的時候才設定，不需要代理，請設定為0.0.0.0</note>
			<type>text</type>
			<default>0.0.0.0</default>
		</proxy_host>
		<proxy_port>
			<title>程式碼埠號</title>
			<note>同上，不需要程式碼請留空或設為0</note>
			<type>text</type>
		</proxy_port>
	</code>
</root>