<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>SendCloud簡訊</title>
	<note>官網（https://sendcloud.sohu.com）</note>
	<code>
		<api_user>
			<title>API_USER</title>
			<note>請到SendCloud官網上獲取自己的API_USER</note>
			<type>text</type>
			<required>true</required>
		</api_user>
		<api_key>
			<title>API_KEY</title>
			<note>建立完成API_USER後，系會傳送API_KEY到您的郵箱，請將值寫到這裡來</note>
			<type>text</type>
			<required>true</required>
		</api_key>
		<mobile>
			<title>手機號</title>
			<note>填寫管理員接收簡訊要用到的手機號，僅支援一個手機號</note>
			<type>text</type>
			<required>true</required>
		</mobile>
	</code>
	<manage>
		<send>
			<title>發簡訊</title>
			<exec>sendsms</exec>
			<type>page</type>
		</send>
		<readme>
			<title>幫助說明</title>
			<exec>readme</exec>
			<type>page</type>
		</readme>
	</manage>
</root>