<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>財付通支付引挈</title>
	<code>
		<pid>
			<title>財付通商戶號</title>
			<note>設定支付的商戶號，您可以登入財付通商家服務查詢</note>
			<type>text</type>
		</pid>
		<key>
			<title>財付通金鑰</title>
			<note>該金鑰初始申請成功後，將在郵件中檢視到</note>
			<type>text</type>
		</key>
		<email>
			<title>財付通賬號</title>
			<note>設定您的財付通賬號，以保證正常收款，一般就是QQ號</note>
			<type>text</type>
		</email>
		<ptype>
			<title>支付型別</title>
			<note>設定支付的型別，我們推薦您使用即時到賬</note>
			<type>radio</type>
			<option>
				<create_direct_pay_by_user>即時到賬</create_direct_pay_by_user>
				<trade_create_by_buyer>標準雙支付介面</trade_create_by_buyer>
			</option>
			<default>create_direct_pay_by_user</default>
		</ptype>
		<bank>
			<title>即時到賬可選銀行</title>
			<note>不選預設為“財付通”，您可以單獨指定某個銀行支付</note>
			<type>select</type>
			<option>
				<DEFAULT>財付通</DEFAULT>
				<CMB_D>招商銀行</CMB_D>
				<ICBC_D>中國工商銀行</ICBC_D>
				<CCB_D>中國建設銀行</CCB_D>
				<SPDB>上海浦東發展銀行</SPDB>
				<ABC>中國農業銀行</ABC>
				<CMBC_D>中國民生銀行</CMBC_D>
				<SDB>深圳發展銀行</SDB>
				<CIB_D>興業銀行</CIB_D>
				<PAB>平安銀行</PAB>
				<COMM_D>交通銀行</COMM_D>
				<CITIC>中信銀行</CITIC>
				<CEB_D>中國光大銀行</CEB_D>
				<GDB_D>廣東發展銀行</GDB_D>
				<POSTGC>中國郵政儲蓄銀行（僅支援廣東地區）</POSTGC>
				<BOB>北京銀行</BOB>
				<BOC_D>中國銀行</BOC_D>
				<BEA_D>東亞銀行</BEA_D>
				<CMB_C>招商銀行信用卡</CMB_C>
				<ICBC_C>中國工商銀行信用卡</ICBC_C>
				<CCB_C>中國建設銀行信用卡</CCB_C>
				<CMBC_C>中國民生銀行信用卡</CMBC_C>
				<CIB_C>興業銀行信用卡</CIB_C>
				<COMM_C>交通銀行信用卡</COMM_C>
				<CEB_C>中國光大銀行信用卡</CEB_C>
				<GDB_C>廣東發展銀行信用卡</GDB_C>
				<BOC_C>中國銀行信用卡</BOC_C>
				<BEA_C>東亞銀行信用卡</BEA_C>
			</option>
		</bank>
	</code>
</root>