<?xml version="1.0" encoding="utf-8"?>
<root>
	<title>阿里雲郵件</title>
	<note>使用阿里雲自帶的SDK包，預設官方免費200條/日郵件</note>
	<code>
		<appkey>
			<title>Access Key</title>
			<note><![CDATA[請到阿里雲提供的https://ak-console.aliyun.com/#/accesskey/申請]]></note>
			<type>text</type>
			<required>true</required>
		</appkey>
		<appsecret>
			<title><![CDATA[Access Secret（金鑰）]]></title>
			<note><![CDATA[同上，在申請Key ID後，會同時提供金鑰]]></note>
			<type>text</type>
			<required>false</required>
		</appsecret>
		<server>
			<title>伺服器標識</title>
			<note><![CDATA[不清楚請留空，此項預設為杭州]]></note>
			<type>text</type>
			<required>true</required>
			<default>cn-hangzhou</default>
		</server>
		<signame>
			<title>標籤</title>
			<note><![CDATA[控制檯建立的標籤]]></note>
			<type>text</type>
			<required>true</required>
		</signame>
		<email>
			<title>發信地址</title>
			<note><![CDATA[阿里雲控制檯建立的發信地址]]></note>
			<type>text</type>
			<required>true</required>
		</email>
		<nickname>
			<title>發信人稱呼</title>
			<note><![CDATA[建議您使用公司簡稱]]></note>
			<type>text</type>
			<required>true</required>
		</nickname>
	</code>
	<manage>
		<send>
			<title>發郵件</title>
			<exec>sendemail</exec>
			<type>page</type>
		</send>
	</manage>
</root>